---
layout: mobile
title: Ernaehrung
id: ernaehrung
---

  <article>

    {% include ernaehrung/_ernaehrungsberatung.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/ernaehrung1.jpg">
          <img src="/img/ernaehrung1.jpg" alt="Ernährungsberatung">
        </picture>
    </figure>

    <div class="gap"></div>

    {% include ernaehrung/_rationserstellung.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/julia.jpg">
          <img src="/img/julia.jpg" alt="Julia">
        </picture>
    </figure>

  </article>
