---
layout: mobile
title: Ernaehrung
id: ernaehrung
---

  <article>

    <!-- Block Ernährungsberatung -->
    {% include ernaehrung/_ernaehrungsberatung.html %}

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/ernaehrung1.jpg" alt="Ernährungsberatung">
    </figure>

    <div class="gap"></div>

    <!-- Block Rationserstellung -->
    {% include ernaehrung/_rationserstellung.html %}

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/julia.jpg" alt="Julia">
    </figure>

  </article>
