---
layout: mobile
title: Homöopathie
id: homoeopathie
---

  <article>

    <!-- Block Heilen -->
    {% include homoeopathie/_heilen.html %}

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/homoeopathie1.jpg" alt="Anamnese">
    </figure>

    <div class="gap"></div>

    <!-- Block Unterschied -->
    {% include homoeopathie/_unterschied.html %}

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/homoeopathie6.jpg" alt="Globuli">
    </figure>
 
    <div class="gap"></div>

    <!-- Block Behandlung -->
    {% include homoeopathie/_behandlung.html %}

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/homoeopathie5.jpg" alt="Globuli">
    </figure>

    <div class="gap"></div>

    <!-- Block Links -->
    {% include homoeopathie/_links.html %}

    {% include homoeopathie/_links_content.html %}

  </article>
