---
layout: mobile
title: Homöopathie
id: homoeopathie
---

  <article>

    {% include homoeopathie/_heilen.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/homoeopathie1.jpg">
          <img src="/img/homoeopathie1.jpg" alt="Anamnese">
        </picture>
    </figure>

    <div class="gap"></div>

    {% include homoeopathie/_unterschied.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/homoeopathie6.jpg">
          <img src="/img/homoeopathie6.jpg" alt="Globuli">
        </picture>
    </figure>
 
    <div class="gap"></div>

    {% include homoeopathie/_behandlung.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/homoeopathie5.jpg">
          <img src="/img/homoeopathie5.jpg" alt="Globuli">
        </picture>
    </figure>

    <div class="gap"></div>

    {% include homoeopathie/_links.html %}

    {% include homoeopathie/_links_content.html %}

  </article>
