---
layout: mobile
title: Tierarztpraxis Kaiserstrasse
id: mobile
---

		<div id="index" data-role="page">
			<div data-role="header" data-theme="e">
				{% include m_header.html %}
				<h1 data-ajax="false" class="even">Herzlich willkommen</h1>
			</div><!-- /header -->

			<div data-role="content" data-theme="c">
				<ul data-role="listview" data-inset="true">
					<li><a href="#team">Team</a></li>
					<li><a href="#schulmedizin">Schulmedizin</a></li>
					<li><a href="#homoeopathie">Homöopathie</a></li>
					<li><a href="#ernaehrung">Ernährung</a></li>
					<li><a href="#praxis">Praxis</a></li>
					<li><a href="#anfahrt">Anfahrt</a></li>
					<li><a href="#kontakt">Kontakt</a></li>
				</ul>
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-type="horizontal" class="custom-footer1">
				<a href="#index" data-ajax="false" data-role="button" data-icon="arrow-u">Zum Seitenanfang</a>

				<div class="bottom_10px"></div>
				
				<a href="#index" data-ajax="false" data-role="button" data-icon="home">Zur Übersicht</a>
			</div><!-- /footer -->

			<footer class="custom-footer2">
				<p>
					<a href="/" data-ajax="false">Zur Vollversion</a>
				</p>
			</footer>
		</div><!-- /page -->

		
		<div id="team" data-role="page">
			<div data-role="header" data-theme="e">
				{% include m_header.html %}
				<h1 class="even">Team</h1>
			</div><!-- /header -->

			<div data-role="content" data-theme="c">
				{% include team.html %}
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-type="horizontal" class="custom-footer1">
				<a href="#team" data-ajax="false" data-role="button" data-icon="arrow-u">Zum Seitenanfang</a>
				
				<div class="bottom_10px"></div>
				
				<a href="#index" data-role="button" data-icon="home">Zur Übersicht</a>
			</div><!-- /footer -->

			<footer class="custom-footer2">
				<p><a href="/" data-ajax="false">Zur Vollversion</a></p>
			</footer>
		</div><!-- /page -->
		

		<div id="schulmedizin" data-role="page">
			<div data-role="header"data-theme="e">
				{% include m_header.html %}
				<h1 class="even">Schulmedizin</h1>
			</div><!-- /header -->

			<div data-role="content" data-theme="c">
				{% include schulmedizin.html %}
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-type="horizontal" class="custom-footer1">
				<a href="#schulmedizin" data-ajax="false" data-role="button" data-icon="arrow-u">Zum Seitenanfang</a>
				
				<div class="bottom_10px"></div>
				
				<a href="#index" data-role="button" data-icon="home">Zur Übersicht</a>
			</div><!-- /footer -->
			
			<footer class="custom-footer2">
				<p><a href="/" data-ajax="false">Zur Vollversion</a></p>
			</footer>
		</div><!-- /page -->


		<div id="homoeopathie" data-role="page">
			<div data-role="header" data-theme="e">
				{% include m_header.html %}
				<h1 class="even">Homöopathie</h1>
			</div><!-- /header -->

			<div data-role="content" data-theme="c">
				{% include homoeopathie.html %}
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-type="horizontal" class="custom-footer1">
				<a href="#homoeopathie" data-ajax="false" data-role="button" data-icon="arrow-u">Zum Seitenanfang</a>
				
				<div class="bottom_10px"></div>
				
				<a href="#index" data-role="button" data-icon="home">Zur Übersicht</a>
			</div><!-- /footer -->

			<footer class="custom-footer2">
				<p><a href="/" data-ajax="false">Zur Vollversion</a></p>
			</footer>
		</div><!-- /page -->


		<div id="ernaehrung" data-role="page">
			<div data-role="header"data-theme="e">
				{% include m_header.html %}
				<h1 class="even">Ernährung</h1>
			</div><!-- /header -->

			<div data-role="content" data-theme="c">
				{% include ernaehrung.html %}
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-type="horizontal" class="custom-footer1">
				<a href="#ernaehrung" data-ajax="false" data-role="button" data-icon="arrow-u">Zum Seitenanfang</a>
				
				<div class="bottom_10px"></div>
				
				<a href="#index" data-role="button" data-icon="home">Zur Übersicht</a>
			</div><!-- /footer -->

			<footer class="custom-footer2">
				<p><a href="/" data-ajax="false">Zur Vollversion</a></p>
			</footer>
		</div><!-- /page -->

		
		<div id="praxis" data-role="page">
			<div data-role="header"data-theme="e">
				{% include m_header.html %}
				<h1 class="even">Praxis</h1>
			</div><!-- /header -->

			<div data-role="content" data-theme="c">
				{% include praxis.html %}
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-type="horizontal" class="custom-footer1">
				<a href="#praxis" data-ajax="false" data-role="button" data-icon="arrow-u">Zum Seitenanfang</a>
				
				<div class="bottom_10px"></div>
				
				<a href="#index" data-role="button" data-icon="home">Zur Übersicht</a>
			</div><!-- /footer -->

			<footer class="custom-footer2">
				<p><a href="/" data-ajax="false">Zur Vollversion</a></p>
			</footer>
		</div><!-- /page -->

		
		<div id="anfahrt" data-role="page">
			<div data-role="header" data-theme="e">
				{% include m_header.html %}
				<h1 class="even">Anfahrt</h1>
			</div><!-- /header -->

			<div data-role="content" data-theme="c">
				{% include anfahrt.html %}
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-type="horizontal" class="custom-footer1">
				<a href="#anfahrt" data-ajax="false" data-role="button" data-icon="arrow-u">Zum Seitenanfang</a>
				
				<div class="bottom_10px"></div>
				
				<a href="#index" data-role="button" data-icon="home">Zur Übersicht</a>
			</div><!-- /footer -->

			<footer class="custom-footer2">
				<p><a href="/" data-ajax="false">Zur Vollversion</a></p>
			</footer>
		</div><!-- /page -->

		
		<div id="kontakt" data-role="page">
			<div data-role="header" data-theme="e">
				{% include m_header.html %}
				<h1 class="even">Kontakt</h1>
			</div><!-- /header -->

			<div data-role="content" data-theme="c">
				{% include m_kontakt.html %}
			</div><!-- /content -->

			<div data-role="footer" data-theme="e" data-type="horizontal" class="custom-footer1">
				<a href="#kontakt" data-ajax="false" data-role="button" data-icon="arrow-u">Zum Seitenanfang</a>
				
				<div class="bottom_10px"></div>
				
				<a href="#index" data-role="button" data-icon="home">Zur Übersicht</a>
			</div>

			<footer class="custom-footer2">
				<p><a href="/" data-ajax="false">Zur Vollversion</a></p>
			</footer>
		</div><!-- /page -->
