
* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color: black;
}

a, a:link, a:visited, a:active, a:focus {
	text-decoration: none;
}

a:hover {
	color: gray !important;
}

h1 {
	font-size: 18px;
	line-height: 26px;
	/* font-weight: bold; */
}

h2 { 
	font-size: 16px; 
	line-height: 24px; 
	/* font-weight: bold; */
}

li {
	margin-left: 15px;
	list-style-type: square;
}

img {
	vertical-align: bottom;
}

header h1 {
	margin: 0px; 
	padding: 10px 10px 10px 10px; 
	text-align: center;
	background-color: #1B61B6;
	color: white !important;
}

header h1 a{
	color: white !important;
	font-size: 24px !important;
	font-weight: normal !important;
	line-height: 24px !important;
}

header h2 {
	margin: 0px;
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
	text-align: center;
	background-color: #FFFFBB;
	font-size: 20px !important;
	font-weight: normal !important;
	line-height: 20px !important;
}

.footer1 {
	padding: 10px;
	background-color: #FFFFBB;
}

.footer2 {
	padding: 10px;
	text-align: center;
	background-color: lightgrey;
}

.footer2 a, .footer2 a:link, .footer2 a:visited, .footer2 a:active, .footer2 a:focus {
	text-decoration: none !important;
	color: black !important;
}

.footer2 a:hover {
	color: gray !important;
}

/* article * {
	text-align: justify;
} */

article section {
	border-top: 1px solid grey;
}

article h2 {
	background-color: lightgrey;
}

ul.parkgaragen li {
	float: left;
	padding: 0px 5px 0px 0px;
}

.bottom_10px {
	padding-bottom: 10px;
}

.bottom_20px {
	padding-bottom: 20px;
}

.fbold {
	font-weight: bold !important;
}
