---
layout: mobile
title: Schulmedizin
id: schulmedizin
---

  <article>

    <!-- Block Allgemeine Leistungen -->
    {% include schulmedizin/_allgemeine_leistungen.html %}

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/allg_leistungen1.jpg" alt="Allgemeine Leistungen">
    </figure>
    
    <div class="gap"></div>

    <!-- Block Labordiagnostik -->
    {% include schulmedizin/_labordiagnostik.html %} 

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/labor1.jpg" alt="Labordiagnostik">
    </figure>

    <div class="gap"></div>

    <!-- Block Weichteilchirurgie -->
    {% include schulmedizin/_weichteilchirurgie.html %} 

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/chirurgie4.jpg" alt="Weichteilchirurgie">
    </figure>

    <div class="gap"></div>

    <!-- Block Digitales Röntgen -->
    {% include schulmedizin/_digitales_roentgen.html %}

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/roentgen1.jpg" alt="Digitales Röntgen">
    </figure>

    <div class="gap"></div>

    <!-- Block Ultraschall -->
    {% include schulmedizin/_ultraschall.html %} 

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/ultraschall1.jpg" alt="Ultraschall">
    </figure>

    <div class="gap"></div>

    <!-- Block Zahnhygiene -->
    {% include schulmedizin/_zahnhygiene.html %} 

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/zahnhygiene4.jpg" alt="Zahnhygiene">
    </figure>
  
  </article>
