---
layout: mobile
title: Schulmedizin
id: schulmedizin
---

  <article>

    {% include schulmedizin/_allgemeine_leistungen.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/allgemeine_leistungen1.jpg">
          <img src="/img/allgemeine_leistungen1.jpg" alt="_Allgemeine Leistungen">
        </picture>
    </figure>
    
    <div class="gap"></div>

    {% include schulmedizin/_labordiagnostik.html %} 
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/labor1.jpg">
          <img src="/img/labor1.jpg" alt="Labordiagnostik">
        </picture>
    </figure>

    <div class="gap"></div>

    {% include schulmedizin/_weichteilchirurgie.html %} 
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/chirurgie4.jpg">
          <img src="/img/chirurgie4.jpg" alt="Weichteilchirurgie">
        </picture>
    </figure

    <div class="gap"></div>

    {% include schulmedizin/_digitales_roentgen.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/roentgen4.jpg">
          <img src="/img/roentgen4.jpg" alt="Digitales Röntgen">
        </picture>
    </figure>

    <div class="gap"></div>

    {% include schulmedizin/_ultraschall.html %} 
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/ultraschall1.jpg">
          <img src="/img/ultraschall1.jpg" alt="Ultraschall">
        </picture>
    </figure>

    <div class="gap"></div>

    {% include schulmedizin/_zahnhygiene.html %} 
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/zahnhygiene1.jpg">
          <img src="/img/zahnhygiene1.jpg" alt="Zahnhygiene">
        </picture
    </figure>
  
  </article>
