---
layout: mobile
title: Team
id: team
---

  <article>

    {% include team/_elfi.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/elfi_medium.jpg">
          <img src="/img/elfi_medium.jpg" alt="Elfi">
        </picture>
    </figure>

    <div class="gap"></div>

    {% include team/_gerold.html %}    
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/gerold_medium.jpg">
          <img src="/img/gerold_medium.jpg" alt="Gerold">
        </picture>
    </figure>
    
    <div class="gap"></div>

    {% include team/_mitarbeiter.html %}    
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/team2_medium.jpg">
          <img src="/img/team2_medium.jpg" alt="Team">
        </picture>
    </figure>

  </article>
