---
layout: mobile
title: Team
id: team
---

  <article>

    {% include team/_elfi.html %}
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/elfi.jpg">
          <img src="/img/elfi.jpg" alt="Elfi">
        </picture>
    </figure>

    <div class="gap"></div>

    {% include team/_gerold.html %}    
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/gerold.jpg">
          <img src="/img/gerold.jpg" alt="Gerold">
        </picture>
    </figure>
    
    <div class="gap"></div>

    {% include team/_mitarbeiter.html %}    
    <div class="small-gap"></div>
    <figure class="mobile-image">
        <picture>
          <source media="(min-width: 640px)" srcset="/img/team1.jpg">
          <img src="/img/team1.jpg" alt="Team">
        </picture>
    </figure>

  </article>
