---
layout: mobile
title: Team
id: team
---

  <article>

    <!-- Block Elfi -->
    {% include team/_elfi.html %}

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/elfi.jpg" alt="Elfi">
    </figure>

    <div class="gap"></div>


    <!-- Block Gerold -->
    {% include team/_gerold.html %}    

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/gerold.jpg" alt="Gerold">
    </figure>
    
    <div class="gap"></div>


    <!-- Block Mitarbeiter -->
    {% include team/_mitarbeiter.html %}    

    <div class="small-gap"></div>

    <figure class="mobile-image">
      <img src="/img/team2.jpg" alt="Team">
    </figure>

  </article>
