
* {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: 20px !important;
	color: black !important;
	text-align: left;
}

h1 {
	padding: 15px 0px !important;
	margin: 0px !important;
	font-size: 18px !important;
	line-height: 26px !important;
}

h2 { 
	font-size: 16px !important; 
	line-height: 24px !important;
	font-weight: bold !important;
	background-color: gray;
}

header {
	background-color: #1B61B6;
	vertical-align: middle;
}

header img {
	width: 75px;
	height: 75px;
}

header h1 {
	padding: 0px 0px 0px 10px;
}

header a {
	font-size: 24px !important; 
	line-height: 32px !important;
	font-weight: normal !important;
	color: white !important;
}

.footer1 {
	padding: 10px;
	background-color: #FADB4E;
}

.footer2 {
	padding: 10px;
	background-color: lightgrey;
}

table {
	width: 100%;
}

article.mobile section {
	border-top: 1px solid grey;
}

article.mobile h2 {
	background-color: lightgrey;
}

.contact {
	white-space:nowrap !important;
	overflow: visible !important;
}

.gap {
	padding-bottom: 20px;
}
