---
layout: desktop3
title: Ernaehrung
id: ernaehrung
---

	<article id="ernaehrung">

		<section id="ernaehrungsberatung" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/dummy.jpg" alt="Futter">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include ernaehrung/ernaehrungsberatung.html %}
					</div>
				</div>
			</div>
		</section>

		<section id="rationserstellung" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/dummy.jpg" alt="Futter">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include ernaehrung/rationserstellung.html %}
					</div>
				</div>
			</div>
		</section>

	</article>
