---
layout: desktop3
title: Homöopathie
id: homoeopathie
---

	<article id="homoeopathie">

		<section id="heilen_durch_homoeopathie" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/dummy.jpg" alt="Hahnemann">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include homoeopathie/heilen_durch_homoeopathie.html %}
					</div>
				</div>
			</div>
		</section>


		<section id="unterschied" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/dummy.jpg" alt="Globuli">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include homoeopathie/unterschied.html %}
					</div>
				</div>
			</div>
		</section>

	</article>
