---
layout: default
title: Tierarztpraxis Kaiserstra&szlig;e
id: homoeopathie
---
	
<script>

	function debug( msg )
	{
		 if( window.console )
		 window.console.log( msg );
	}

	function showsel(anker)
	{
		 debug( "enter showsel: " + anker );

		$("section").removeClass("aktiv");  
		$('section#' + anker).addClass("aktiv");	
	 
		$("nav a").removeClass("nav-active");  
		$('nav a#nav_' + anker).addClass("nav-active");	
		
		debug( "leave showsel: " + anker );	
	}
</script>	


<article id="homoeopathie">
	{% include homoeopathie/was_ist_homoeopathie.html %}

	{% include homoeopathie/unterschied.html %}
</article>
