---
layout: desktop3
title: Schulmedizin
id: schulmedizin
---


	<article id="schulmedizin">

		<section id="allgemeine_leistungen" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/hund_400x400.jpg" alt="Tiere">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include schulmedizin/allgemeine_leistungen.html %}
					</div>
				</div>
			</div>
		</section>


		<section id="labordiagnostik" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/dummy.jpg" alt="Tiere">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include schulmedizin/labordiagnostik.html %}
					</div>
				</div>
			</div>
		</section>


		<section id="digitales_roentgen" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/katze_400x400.jpg" alt="Tiere">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include schulmedizin/digitales_roentgen.html %}
					</div>
				</div>
			</div>
		</section>


		<section id="ultraschall" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/papagei_400x400.jpg" alt="Tiere">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include schulmedizin/ultraschall.html %}
					</div>
				</div>
			</div>
		</section>

		<section id="zahnsteinentfernung" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/meerschweinchen_400x400.jpg" alt="Tiere">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include schulmedizin/zahnsteinentfernung.html %}
					</div>
				</div>
			</div>
		</section>


		<section id="weichteilchirurgie" class="aktiv">
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell content1">
						<figure>
							<img src="img/dummy.jpg" alt="Tiere">
						</figure>
					</div>
					<div class="div-cell content2">
						{% include schulmedizin/weichteilchirurgie.html %}
					</div>
				</div>
			</div>
		</section>

	</article>
