---
layout: desktop
title: Schulmedizin
id: schulmedizin
---


  <article id="article-schulmedizin">

  <section id="allgemeine_leistungen" class="aktiv">
    <figure class="image">
      <img src="img/hund_400x400.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/allgemeine_leistungen.html %}
    </div>
  </section>


  <section id="labordiagnostik" class="aktiv">
    <figure class="image">
      <img src="img/dummy.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/labordiagnostik.html %}
    </div>
  </section>


  <section id="digitales_roentgen" class="aktiv">
    <figure class="image">
      <img src="img/katze_400x400.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/digitales_roentgen.html %}
    </div>
  </section>


  <section id="ultraschall" class="aktiv">
    <figure class="image">
      <img src="img/papagei_400x400.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/ultraschall.html %}
    </div>
  </section>


  <section id="zahnhygiene" class="aktiv">
    <figure class="image">
      <img src="img/meerschweinchen_400x400.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/zahnhygiene.html %}
    </div>
  </section>


  <section id="weichteilchirurgie" class="aktiv">
    <figure class="image">
      <img src="img/dummy.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/weichteilchirurgie.html %}
    </div>
  </section>

  </article>
