---
layout: desktop
title: Schulmedizin
id: schulmedizin
---


<article id="article-schulmedizin">

  <section id="allgemeine_leistungen" class="aktiv">
    <figure id="figure-allgemeine_leistungen" class="image">
      <img src="img/schulmedizin1a.jpg" alt="Schulmedizin">
      <img src="img/schulmedizin1b.jpg" alt="Schulmedizin">
      <img src="img/schulmedizin1c.jpg" alt="Schulmedizin">
      <img src="img/schulmedizin1d.jpg" alt="Schulmedizin">
    </figure>

    <div class="description">
      {% include schulmedizin/allgemeine_leistungen.html %}
    </div>
  </section>


  <section id="labordiagnostik" class="aktiv">
    <figure class="image">
      <img src="img/schulmedizin2.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/labordiagnostik.html %}
    </div>
  </section>


  <section id="digitales_roentgen" class="aktiv">
    <figure class="image">
      <img src="img/schulmedizin3.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/digitales_roentgen.html %}
    </div>
  </section>


  <section id="ultraschall" class="aktiv">
    <figure class="image">
      <img src="img/schulmedizin4.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/ultraschall.html %}
    </div>
  </section>


  <section id="zahnhygiene" class="aktiv">
    <figure class="image">
      <img src="img/schulmedizin5.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/zahnhygiene.html %}
    </div>
  </section>


  <section id="weichteilchirurgie" class="aktiv">
    <figure class="image">
      <img src="img/schulmedizin6.jpg" alt="Tiere">
    </figure>

    <div class="description">
      {% include schulmedizin/weichteilchirurgie.html %}
    </div>
  </section>

</article>


  <script type="text/javascript">
    $(document).ready(function(){
      // $('figure.aktiv').removeClass("aktiv");
      // $('figure#slideshow').addClass("aktiv");
      $('#figure-allgemeine_leistungen').fadeSlideShow();
    });
  </script>
