---
layout: desktop
title: Team
id: team
---

  <script>
    $(document).ready(function() {
      var anker = window.location.hash;
    
      if(anker == "#team_elfi"){
        showsel('team_elfi');
      }
      else if(anker == "#team_gerold"){
        showsel('team_gerold');
      }
    });
  </script>


  <article id="article-team">

    <section id="elfi" class="aktiv">
      <figure class="image">
        <img src="img/elfi.jpg" alt="Elfi">
      </figure>

      <div class="description">
        {% include team/elfi.html %}
      </div>
    </section>

    <section id="gerold" class="aktiv">
      <figure class="image">
        <img src="img/gerold.jpg" alt="Gerold">
      </figure>

      <div class="description">
        {% include team/gerold.html %}
      </div>
    </section>

    <section id="mitarbeiter" class="aktiv">
      <figure class="image gal4x4">
        <table>
          <tr>
            <td><a class="gallery" href="img/mitarbeiter1.jpg"><img src="img/mitarbeiter1.jpg" alt="Schulmedizin"></a></td>
            <td><a class="gallery" href="img/mitarbeiter2.jpg"><img src="img/mitarbeiter2.jpg" alt="Schulmedizin"></a></td>
          </tr>
          <tr>
            <td><a class="gallery" href="img/mitarbeiter3.jpg"><img src="img/mitarbeiter3.jpg" alt="Schulmedizin"></a></td>
            <td><a class="gallery" href="img/mitarbeiter4.jpg"><img src="img/mitarbeiter4.jpg" alt="Schulmedizin"></a></td>
          </tr>
        </table>
      </figure>
    
      <div class="description">
        {% include team/mitarbeiter.html %}
      </div>
    </section>

  </article>
