	<script>
		$(function() {
			$('a.lightbox').lightBox({
					overlayBgColor: '#FFF',
					overlayOpacity: 0.6,
					imageLoading: 'script/lightbox/images/lightbox-ico-loading.gif',
					imageBtnClose: 'script/lightbox/images/lightbox-btn-close.gif',
					imageBtnPrev: 'script/lightbox/images/lightbox-btn-prev.gif',
					imageBtnNext: 'script/lightbox/images/lightbox-btn-next.gif',
					containerResizeSpeed: 350,
					txtImage: 'Bild',
					txtOf: 'von'
				});
		});
	</script>

	<section id="bildergalerie_praxis" class="aktiv">
		<!-- noscript -->
		<h2>Bildergalerie Tierarztpraxis</h2>
		
		<div class="bottom_10px"></div>
		<!-- /noscript -->

		<figure>
			<a class="lightbox" href="img/fassade_600x400.png"><img style="float: left; width:170px; height:113px;" src="img/fassade_600x400.png" alt="Portal"></a>
			
			<a class="lightbox" href="img/behandlungsraum_600x400.png"><img style="float: left; width:170px; height:113px;" src="img/behandlungsraum_600x400.png" alt="Behandlungsraum"></a>
			
			<a class="lightbox" href="img/empfangsraum_600x400.png"><img style="float: left;  width:170px; height:113px;" src="img/empfangsraum_600x400.png" alt="Empfangsraum"></a>
		</figure>
	</section>
