---
layout: desktop
title: Homöopathie
id: homoeopathie-behandlung
permalink: /homoeopathie-behandlung.html
---

  <article>

    {% include desktop-nav.html %}

    <figure id="center" class="image">
      <img src="/img/homoeopathie4.jpg" alt="Globuli">

      <img src="/img/homoeopathie5.jpg" alt="Globuli">
    </figure>

    <div id="right">
      {% include homoeopathie/_behandlung.html %}
    </div>

  </article>

  <script type="text/javascript">
    $(document).ready(function(){
        startSlider();
    });
  </script>
