---
layout: desktop
title: Homöopathie
id: homoeopathie-heilen
permalink: /homoeopathie-heilen.html
---

  <article>

    {% include desktop-nav.html %}

    <figure id="center" class="image">
      <img src="/img/homoeopathie1.jpg" alt="Homöopathie">

      <img src="/img/homoeopathie2.jpg" alt="Homöopathie">
    </figure>

    <div id="right">
      {% include homoeopathie/_heilen.html %}
    </div>

  </article>


  <script>
    $(document).ready(function(){
        startSlider();
    });
  </script>
