---
layout: desktop
title: Homöopathie
id: homoeopathie-unterschied
permalink: /homoeopathie-unterschied.html
---

  <article>

    {% include desktop-nav.html %}

    <figure id="center" class="image">
      <img src="/img/homoeopathie3.jpg" alt="Globuli">

      <img src="/img/homoeopathie6.jpg" alt="Globuli">
    </figure>

    <div id="right" class="description">
      {% include homoeopathie/_unterschied.html %}
    </div>

  </article>

  <script type="text/javascript">
    $(document).ready(function(){
        startSlider();
    });
  </script>
