
  <div class="inner-description">
    <h2>Individuelle Ernährungs<wbr>beratung</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Gro&shy;ßen Wert le&shy;gen wir in un&shy;se&shy;rer Pra&shy;xis auf rich&shy;ti&shy;ge Tier&shy;er&shy;näh&shy;rung, 
      denn für die Ge&shy;sund&shy;heit ist eine mög&shy;lichst na&shy;tür&shy;li&shy;che und aus&shy;gew&shy;oge&shy;ne Er&shy;näh&shy;rung wich&shy;tig. 
      Gerne neh&shy;men wir uns Zeit für Sie, um mit den ge&shy;schmack&shy;li&shy;chen Vor&shy;lie&shy;ben ih&shy;res Tie&shy;res und Ih&shy;ren Füt&shy;te&shy;rungs&shy;wün&shy;schen ei&shy;nen gu&shy;ten und aus&shy;ge&shy;wo&shy;ge&shy;nen Er&shy;näh&shy;rungs&shy;plan für Ih&shy;ren Lieb&shy;ling zu er&shy;stel&shy;len.
    </p>

    <div class="small-gap"></div>	

    <p>
      Es gibt viele Er&shy;krank&shy;un&shy;gen, Al&shy;ler&shy;gien und Über&shy;ge&shy;wicht, die eine sp&shy;eziel&shy;le Di&shy;ät er&shy;for&shy;dern. 
      Durch die rich&shy;tige Di&shy;ät kön&shy;nen die Symp&shy;tome und das Wohl&shy;be&shy;fin&shy;den ver&shy;bes&shy;sert wer&shy;den. 
      Wir hel&shy;fen Ihn&shy;en die rich&shy;tige Diät aus&shy;zu&shy;wäh&shy;len.
    </p>
  </div>
