

		<div>
			<h2>Individuelle Ernährungs<wbr>beratung</h2>
			
			<div class="spacer"><img src="img/horizontal-line.png"></div>

			<p>
				Großen Wert legen wir in unserer Praxis auf rich<wbr>tige Tier<wbr>er<wbr>näh<wbr>rung, 
				denn für die Ge<wbr>sund<wbr>heit ist eine mög<wbr>li<wbr>chst na<wbr>tür<wbr>li<wbr>che und aus<wbr>ge<wbr>wo<wbr>gene Er<wbr>nähr<wbr>ung wichtig. 
				Gerne nehmen wir uns Zeit für Sie, um mit Ihren Fütte<wbr>rungs<wbr>wün<wbr>schen und ge<wbr>schmack<wbr>li<wbr>chen Vor<wbr>lieben ihres Tieres 
				einen guten und aus<wbr>ge<wbr>woge<wbr>nen Er<wbr>näh<wbr>rungs<wbr>plan für Ihren Lieb<wbr>ling zu er<wbr>stel<wbr>len.
			</p>
			
			<div class="small-gap"></div>	
			
			<p>
				Es gibt viele Er<wbr>kran<wbr>kun<wbr>gen, All<wbr>ergien und Über<wbr>ge<wbr>wicht, die eine spe<wbr>zi<wbr>elle Diät er<wbr>fordern. 
				Durch die rich<wbr>tige Diät können die Symp<wbr>tome und das Wohl<wbr>be<wbr>fin<wbr>den ver<wbr>bes<wbr>sert werden. 
				Wir helfen Ihnen die rich<wbr>tige Diät aus<wbr>zu<wbr>wählen.
			</p>
		</div>
