	<section id="ernaehrungsberatung" class="aktiv">
		<!-- noscript -->
		<h2>Ernährungsberatung</h2>
		
		<div class="bottom_10px"></div>
		<!-- /noscript -->

		<p>
			Gerne beraten wir Sie über die optimale Fütterung Ihres Tieres, unabhängig davon, ob Sie Fertigfutter, selbst gekochtes Futter oder rohes Fleisch füttern.<br>
			Wir bieten Ihnen eine allgemeine Beratung hinsichtlich der Vor-und Nachteile der jeweiligen Fütterungsart an. Zusammen mit Ihren Fütterungswünschen und den geschmacklichen Vorlieben ihres Tieres finden wir ein geeignetes Futter mit optimaler Nährstoffversorgung für Ihren Liebling.
		</p>

		<div class="bottom_10px"></div>

		<p>
			Es gibt viele Erkankungen, Allergien und Übergewicht, die eine spezielle Diät erfordern. Durch die richtige Diät können die Symptome und das Wohlbefinden verbessert werden. Wir helfen Ihnen, die richtige Diät auszuwählen.
		</p>


		<p>
			So wie für uns Menschen, als auch für unsere Haustiere ist eine möglichst <span class="fbold">natürliche, gesunde und ausgewogene Ernährung</span> wichtig für die Gesundheit. 
		</p>

		<div class="bottom_20px"></div>
		
		<figure>
			<div class="div-table">
				<div class="div-row">
					<div class="div-cell">
						<img style="width: 164px; height: 164px; padding-right: 9px;" src="
						img/fleisch_480x480.png" alt="Fleisch">
					</div>
					<div class="div-cell">
						<img style="width: 164px; height: 164px; padding-right: 9px;" src="img/gefluegel_480x480.png" alt="Geflügel">
					</div>
					<div class="div-cell">
						<img style="width: 164px; height: 164px;"  src="img/mischfutter_480x480.png" alt="Mischfutter">
					</div>
				</div>
			</div>
		</figure>
	</section>
