

		<h2>Futterration erstellen und über<wbr>prüfen</h2>
		
		<div class="spacer"><img src="img/horizontal-line.png"></div>

		<p>
			Wir arbeiten für die Er<wbr>stel<wbr>lung bzw. Über<wbr>prü<wbr>fung einer Futter<wbr>ration mit einer spezi<wbr>ali<wbr>sier<wbr>ten Tier<wbr>ärztin für Tier<wbr>er<wbr>näh<wbr>rung zu<wbr>sammen.
		</p>
		
		<div class="small-gap"></div>
		
		<p>
			Die Er<wbr>näh<wbr>rungs<wbr>be<wbr>rater<wbr>in kann anhand Ihrer Fütte<wbr>rungs<wbr>wünsche, ge<wbr>schmack<wbr>lichen Vor<wbr>liebe ihres Tieres, 
			Alter, Leistung, Wachstum, Träch<wbr>tig<wbr>keit und Krank<wbr>heiten ein indivi<wbr>duelles Futter<wbr>rezept er<wbr>stellen. 
			Weiters kann die Er<wbr>nährungs<wbr>be<wbr>rate<wbr>rin die von ihnen ge<wbr>fütter<wbr>te Futter<wbr>ration auf die Nähr<wbr>stoff<wbr>ver<wbr>sor<wbr>gung über<wbr>prüfen 
			und bei Bedarf an<wbr>passen. 
			So können Sie sicher gehen, dass Ihr Liebl<wbr>ing mit allen Nähr<wbr>stoffen aus<wbr>rei<wbr>chend ver<wbr>sorgt ist.
		</p>
