

		<h2>Futterration erstellen und überprüfen</h2>

		<p>
			Wir arbeiten für die Erstellung bzw. Überprüfung einer Futterration mit einer spezialisierten Tierärztin für Tierernährung zusammen.
		</p>
		
		<div class="small-gap"></div>
		
		<p>
			Die Ernährungsberaterin kann anhand Ihrer Fütterungswünsche, geschmacklichen Vorliebe ihres Tieres, Alter, Leistung, Wachstum, Trächtigkeit und Krankheiten ein individuelles Futterrezept erstellen. 
			Weiters kann die Ernährungsberaterin die von ihnen gefütterte Futterration auf die Nährstoffversorgung überprüfen und bei Bedarf anpassen. 
			So können Sie sicher gehen, dass Ihr Liebling mit allen Nährstoffen ausreichend versorgt ist.
		</p>
