

		<h2>Futterration erstellen und überprüfen</h2>
		
		<div class="spacer"><img src="img/horizontal-line.png"></div>

		<p>
			Wir arbeiten für die Er<wbr>stellung bzw. Über<wbr>prüfung einer Futter<wbr>ration mit einer spezial<wbr>isierten Tier<wbr>ärztin für Tier<wbr>ernährung zusammen.
		</p>
		
		<div class="small-gap"></div>
		
		<p>
			Die Ernährungs<wbr>beraterin kann anhand Ihrer Fütterungs<wbr>wünsche, geschmack<wbr>lichen Vorliebe ihres Tieres, Alter, Leistung, Wachstum, Trächtig<wbr>keit und Krank<wbr>heiten ein indivi<wbr>duelles Futter<wbr>rezept er<wbr>stellen. 
			Weiters kann die Ernährungs<wbr>beraterin die von ihnen ge<wbr>fütterte Futter<wbr>ration auf die Nährstoff<wbr>versorgung über<wbr>prüfen und bei Bedarf anpassen. 
			So können Sie sicher gehen, dass Ihr Liebling mit allen Nähr<wbr>stoffen aus<wbr>reichend versorgt ist.
		</p>
