---
layout: desktop
title: Team
id: team-mitarbeiter
permalink: /team-mitarbeiter.html
---

  <article id="mitarbeiter">

    {% include desktop-nav.html %}

    <figure id="center" class="image">
      <img src="/img/team.jpg" alt="Team">
      <img src="/img/anna.jpg" alt="Anna">
      <img src="/img/marius.jpg" alt="Marius">
      <img src="/img/janina.jpg" alt="Janina">
      <img src="/img/hanni.jpg" alt="Hanni">
    </figure>

    <div id="right" class="description">
      {% include team/_mitarbeiter.html %}
    </div>

  </article>

  <script type="text/javascript">
    $(document).ready(function(){
        startSlider();
    });
  </script>
