
  <div class="description">
    <h2>Ultraschall</h2>

    <div class="spacer"><img src="/img/horizontal-line.png" alt=""></div>

    <p>
      Wir verfügen über ein modernes Ul&shy;tra&shy;schall&shy;ge&shy;rät mit Farbdoppler. 
      Sie als Tier&shy;hal&shy;ter sind bei der Untersuchung dabei und können beruhigend auf ihr Tier ein&shy;wir&shy;ken. 
      Die Untersuchung ist für Ihr Tier schonend, schmerzfrei und kann ohne Narkose durchgeführt werden. 
      Mit Hilfe der Ultraschall-Untersuchung können die Or&shy;ga&shy;ne in ihrer Form, Größe und deren Veränderung bei Erkrankungen dargestellt und beurteilt werden. 
    </p>
  </div>
