
    <div class="description">

      <h2>Zahnmedizin und Zahnstation</h2>

      <div class="spacer"><img src="/img/horizontal-line.png" alt=""></div>

      <p>
        Auch die Zähne von Tieren sollten einmal jährlich unter&shy;sucht werden, um chroni&shy;sche Schmer&shy;zen zu ver&shy;hin&shy;dern. 
        Es ist wichtig zu wissen, daß Hunde und Katzen trotz Zahn&shy;schmerzen weiter&shy;fressen. 
      </p>

      <div class="small-gap"></div>

      <p>
        Wir bieten ein intra&shy;orales Zahn&shy;röntgen für die Zahn&shy;befun&shy;dung an. 
        Mit dem Zahn&shy;röngten&shy;gerät können einzelne Zähne auf Zahn&shy;erkrankun&shy;gen exakt unter&shy;sucht werden. 
        An&shy;schlie&shy;ßend wird anhand des Dental-&shy;Röntgen&shy;bildes die ent&shy;sprechen&shy;de Be&shy;hand&shy;lung einge&shy;leitet.
      </p>

      <div class="small-gap"></div>

      <p>
         Wir verfügen über eine moderne Zahn&shy;behandlungs&shy;station, um fach&shy;gerechte und schonende Zahn&shy;behandlun&shy;gen durch&shy;führen zu können.
      </p>
      
      <div class="small-gap"></div>

      <p>
        Sehr häufig berichten uns Tier&shy;halter freudig, dass ihre Tiere nach der Zahn&shy;sanie&shy;rung auf&shy;geblüht sind – 
        zuvor hatten sie die zu&shy;nehmen&shy;de Zurück&shy;gezogen&shy;heit ihres Lieb&shy;lings mit dem steigen&shy;den Alter in Ver&shy;bin&shy;dung gebracht.
      </p>

    </div>
