
  <div class="description">
    <h2>Zahnmedizin und Zahnstation</h2>

    <div class="spacer"><img src="/img/horizontal-line.png" alt=""></div>

    <p>
      Auch die Zähne von Tieren sollten einmal jährlich untersucht werden, um chronische Schmerzen zu verhindern. 
      Es ist wichtig  zu wissen, daß Hunde und Katzen trotz Zahnschmerzen weiterfressen. 
    </p>

    <div class="small-gap"></div>

    <p>
      Wir bieten ein intraorales Zahnröntgen – wie Sie es von Ihrem Zahnarzt kennen – für die Zahnbefundung  an. 
      Mit dem Zahnröngtengerät und speziellen Zahnfilmen können einzelne Zähne auf Zahnerkrankungen an Zahnkronen, Zahnwurzeln,  
      Zahnhalteapparat und zahntragenden Kieferknochen exakt untersucht werden. 
      Anschließend wird anhand des Dental-Röngtenbildes die richtige Behandlung  eingeleitet.
    </p>

    <div class="small-gap"></div>

    <p>
       Wir verfügen über eine moderne Zahnbehandlungsstation um fachgerechte und schonende Zahnbehandlungen durchführen zu können. 
    </p>
    
    <div class="small-gap"></div>

    <p>
      Sehr häufig berichten uns Tierhalter freudig, dass ihre Tiere nach der Zahnsanierung aufgeblüht sind – 
      zuvor hatten sie die zunehmende Zurückgezogenheit ihres Lieblings mit dem steigenden Alter in Verbindung gebracht.
    </p>

    <div class="small-gap"></div>

    <p>
      Gerne beraten wir Sie, wie Zahnstein bei ihrem Tier vorbeugt werden kann. 
    </p>
  </div>
