
  <div class="description">
    <h2>Zahnhygiene</h2>

    <div class="spacer"><img src="/img/horizontal-line.png" alt=""></div>

    <p>
      Jährlich sollten Zähne und Zahnfleisch kontrolliert werden, um so möglichst lange das Gebiss zu erhalten. 
      Gerne beraten wir, wie Sie Zahnstein bei ihrem Tier vor&shy;beu&shy;gen können. 
      Denn die Bakterien im Zahnbelag führen zur Entzündung des Zahn&shy;hal&shy;te&shy;appa&shy;ra&shy;tes und Zahnfleisches. 
      Es ist wichtig zu wissen, dass Tiere den Zahn&shy;schmerz bei vereiterten Zähnen oft erst im fort&shy;ge&shy;schrit&shy;ten&shy;en Stadium zeigen.
      Häufig bleibt dann als Lösung nur noch die Zahn&shy;ex&shy;trak&shy;tion.
    </p>

    <div class="small-gap"></div>

    <p>
      Bei Bedarf werden die Zähne mit einem Ultraschallgerät geputzt und anschließend poliert. 
      Ebenfalls führen wir Zahn&shy;ex&shy;trak&shy;tio&shy;nen und leichte Korrekturen am Zahn&shy;fleisch durch. 
      Die Zahnbehandlungen wer&shy;den mit einer kurzen Sedierung durch&shy;ge&shy;führt.
    </p>
  </div>
