

  <div class="inner-description">
    <h2>Allgemeine Leistungen</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Großen Wert legen wir in unserer Ordination auf individuelle Beratung und Behandlung.
    </p>

    <div class="small-gap"></div>

    <p>
      Bei der Routineuntersuchung erheben wir den Gesundheitszustand Ihres Tieres und beraten Sie persönlich über mögliche Impfungen, Entwurmungen und Parasitenvorsorge. 
      Weiters besprechen wir mit Ihnen Ernährungs- und Verhaltensprobleme.<br> 
      Bei Bedarf können wir weiterführende Laboruntersuchungen, Röntgen, Ultraschall, Blutdruckmessungen und EKG anbieten.
    </p>

    <div class="small-gap"></div>

    <p>
      Darüber hinaus können wir Patienten stationär aufnehmen, medizinisch betreuen und versorgen. 
    </p>
  </div>
