


		<h2>Allgemeine Leistungen</h2>

		<p>
			Großen Wert legen wir in unserer Ordination auf individuelle Beratung und Behandlung.
		</p>
		
		<div class="small-gap"></div>
		
		<p>
			Bei der Routineuntersuchung erheben wir den Gesundheitszustand Ihres Tieres und beraten Sie persönlich über notwendige und mögliche Impfungen, &nbsp;Entwurmungen &nbsp;und &nbsp;Parasitenvor-<br>sorge. 
			Weiters besprechen wir mit Ihnen Ernährungs- und Verhaltensprobleme. 
			Bei Bedarf führen wir zusätzliche Untersuchungen mit Blutdruckgerät und EKG durch. 
			Wir können bei internistischen Patienten weiterführende Laboruntersuchungen, Röntgen und Ultraschall anbieten. 
		</p>
		
		<div class="small-gap"></div>
		
		<p>
			Darüber hinaus können wir Patienten stationär aufnehmen, medizinisch betreuen und versorgen. 
		</p>
