


		<h2>Allgemeine Leistungen</h2>

		<div class="spacer"><img src="img/horizontal-line.png"></div>
		
		<p>
			Großen Wert legen wir in unserer Ordination auf individuelle Beratung und Behandlung.
		</p>
		
		<div class="small-gap"></div>
		
		<p>
			Bei der Routine<wbr>untersuchung erheben wir den Gesundheits<wbr>zustand Ihres Tieres und beraten Sie persönlich über mögliche Impfungen, Ent<wbr>wurmungen und Parasiten<wbr>vorsorge. 
			Weiters besprechen wir mit Ihnen Ernährungs- und Verhaltens<wbr>probleme. 
			Bei Bedarf können wir weiterführende Labor<wbr>untersuchungen, Röntgen, Ultraschall, Blutdruck<wbr>messungen und EKG anbieten.
		</p>
		
		<div class="small-gap"></div>
		
		<p>
			Darüber hinaus können wir Patienten stationär aufnehmen, medizinisch betreuen und versorgen. 
		</p>
