

		<h2>Digitales Roentgen</h2>

		<div class="small-gap"></div>

		<p>Diagnostik ist wichtig</p>

		<div class="small-gap"></div>

		<p>
			In unserer Tierarztpraxis haben wir ein digitales Röntgengerät zur Verfügung, welches hochwertige Röntgenbilder liefert. 
			Die Bilder können in Schärfe, Kontrast und Helligkeit nachbearbeitet und Details vergrößert werden, wodurch ein optimiertes Bild garantiert wird. 
			Bei Bedarf können wir die Röntgenbilder per email an Spezialkliniken versenden.
		</p>



