	<section id="digitales_roentgen" class="aktiv">
		<!-- noscript -->
		<h2>Digitales Roentgen</h2>
		
		<div class="bottom_10px"></div>
		<!-- /noscript -->
		
		<p>
			Mit unserer <span class="fbold">digitalen Röntgenanlage</span> sind die Röntgenbilder sofort verfügbar und weisen eine hochwertige Bildqualität auf. Aufgrund der digitalen Bildbearbeitung können Röntgendetails vergrößert und digital bearbeitet werden, wodurch die Bildauswertung wesentlich verbessert wird. Wir führen Röntgenuntersuchungen von Brusthöhle (bei Lungen-und Herzkrankheiten, Luftröhrenkollaps, Tumoren, etc.) und Bauchhöhle (Fremdkörper, Blasensteine, Tumoren, etc.) sowie Kontraströntgen durch. Ebenso wichtig sind Röntgenaufnahmen bei Knochenfrakturen, Arthrosen, erblich bedingten Gelenkserkrankungen wie Hüftgelenksdysplasie und Knochentumoren. Bei Bedarf können wir die Röntgenbilder per email an Spezialkliniken versenden.
		</p>
		
		<div class="bottom_20px"></div>
		
		<figure>
			<img class="small" src="img/empfangsraum_600x400.png" alt="Tiere">
		</figure>
	</section>
