

  <div class="inner-description">
    <h2 style="border-bottom: 5px">Digitales Röntgen</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      In un&shy;serer Tier&shy;arzt&shy;pra&shy;xis ha&shy;ben wir ein di&shy;gi&shy;ta&shy;les Rönt&shy;gen&shy;ge&shy;rät zur Ver&shy;fü&shy;gung, we&shy;lches hoch&shy;wer&shy;tige Rönt&shy;gen&shy;bil&shy;der lie&shy;fert. 
    </p>
    
    <div class="small-gap"></div>
    
    <p>  
      Die Bi&shy;lder können in Schär&shy;fe, Kon&shy;trast und Hel&shy;lig&shy;keit nach&shy;be&shy;ar&shy;bei&shy;tet und De&shy;tails ver&shy;grö&shy;ßert we&shy;rden, wo&shy;durch ein opti&shy;mier&shy;tes Bild ga&shy;ran&shy;tiert wird. 
      Bei Be&shy;darf kön&shy;nen wir die Rönt&shy;gen&shy;bil&shy;der per email an Spe&shy;zial&shy;kli&shy;ni&shy;ken ver&shy;senden.
    </p>
  </div>
