
	<div>
		<h2>Diagnostik ist wichtig</h2>

		<div class="spacer"><img src="img/horizontal-line.png"></div>

		<p>
			Die wichtigen Blut-, Kot- und  Urinuntersuchungen können wir in unserem praxiseigenen Labor sofort durchführen. 
			Die in wenigen Minuten vorliegenden Ergebnisse helfen uns schnell die Diagnose zu erstellen und mit der entsprechenden Therapie zu beginnen. 
			Weiters arbeiten wir mit Speziallabors und der Vet.Med. Universität zusammen, wo wir die Möglichkeit haben, besondere Fragestellungen abzuklären.
		</p>
	</div>

