

  <div class="inner-description">
    <h2>Diagnostik ist wichtig - Labor</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Die wich&shy;ti&shy;gen Blut-, Kot- und  Urin&shy;un&shy;ter&shy;su&shy;chun&shy;gen kön&shy;nen wir in un&shy;se&shy;rem pra&shy;xis&shy;ei&shy;ge&shy;nen La&shy;bor so&shy;fort durch&shy;füh&shy;ren. 
      Die in wenigen Mi&shy;nu&shy;ten vor&shy;lie&shy;gen&shy;den Er&shy;geb&shy;nis&shy;se he&shy;lfen uns schnell die Diagnose zu er- stellen und mit der entsprechenden Thera- pie zu beginnen. 
      Wei&shy;ters ar&shy;bei&shy;ten wir mit Spe&shy;zial&shy;la&shy;bors und der Vet.Med. Uni&shy;ver&shy;si&shy;tät zu&shy;sam&shy;men, wo wir die Mö&shy;glich&shy;keit ha&shy;ben, be&shy;son&shy;dere Fra&shy;ge&shy;stel&shy;lun&shy;gen ab&shy;zu&shy;klären.
    </p>
  </div>
