
	<div>
		<h2>Diagnostik ist wichtig</h2>

		<div class="spacer"><img src="img/horizontal-line.png"></div>

		<p>
			Die wich<wbr>tigen Blut-, Kot- und  Urin<wbr>unter<wbr>suchun<wbr>gen können wir in unserem praxis<wbr>eigenen Labor sofort durch<wbr>führen. 
			Die in wenigen Minuten vor<wbr>liegenden Er<wbr>gebnis<wbr>se helfen uns schnell die Diagnose zu er<wbr>stellen und mit der ent<wbr>sprechen<wbr>den Therapie zu be<wbr>ginnen. 
			Weiters arbeiten wir mit Spezial<wbr>labors und der Veterinär<wbr>medi<wbr>zischen Universität zusammen, wo wir die Möglich<wbr>keit haben, besondere Frage<wbr>stellun<wbr>gen ab<wbr>zuklären.
		</p>
	</div>

