		<div class="menu-item bottom_dots">
			<a id="nav_allgemeine_leistungen" class="nav-active" href="#allgemeine_leistungen" onclick="showsel('allgemeine_leistungen')">Allgemeine Leistungen</a>
		</div>
		
		<div class="menu-item bottom_dots">
			<a id="nav_labordiagnostik" href="#labordiagnostik" onclick="showsel('labordiagnostik')">Labordiagnostik</a>
		</div>
		
		<div class="menu-item bottom_dots">
			<a id="nav_digitales_roentgen" href="#digitales_roentgen" onclick="showsel('digitales_roentgen')">Digitales Röntgen</a>
		</div>
		
		<div class="menu-item bottom_dots">
			<a id="nav_ultraschall" href="#ultraschall" onclick="showsel('ultraschall')">Ultraschall</a>
		</div>
		
		<div class="menu-item bottom_dots">
			<a id="nav_zahnsteinentfernung" href="#zahnsteinentfernung" onclick="showsel('zahnsteinentfernung')">Zahnsteinentfernung</a>
		</div>
		
		<div class="menu-item bottom_dots">
			<a id="nav_weichteilchirurgie" href="#weichteilchirurgie" onclick="showsel('weichteilchirurgie')">Weichteilchirurgie</a>
		</div>
