

		<h2>Ultraschall</h2>

		<div class="small-gap"></div>

		<p>
		  Neben dem Röntgen verwenden wir unser modernes Ultraschallgerät. 
		  Die Ultraschall-Untersuchung ist für den Patienten schonend, schmerzfrei und kann in der Regel ohne Narkose durchgeführt werden. 
		  Mit Hilfe des Ultraschallgerätes können Bauchhöhlenorgane in ihrer Organstruktur, Form, Größe und dessen Veränderung bei Erkrankungen genau dargestellt und beurteilt werden. 
		  Wir führen die Ultraschall-Untersuchung an folgenden Bauchorganen durch: Leber, Gallenblase, Magen, Darm, Pankreas, Milz, Nieren, Nebennieren, Harnblase, Gebärmutter, Ovarien, Prostata und Hoden. 
		  Die Ultraschallbilder sind bei diesen Organen meist aussagekräftiger als Röntgenbilder. 
		  Weiters führen wir Trächtigkeitsuntersuchungen durch.
		</p>

