

		<h2>Diagnostik ist wichtig</h2>

		<div class="small-gap"></div>

		<p>
			Wir &nbsp;verfügen &nbsp;über ein &nbsp;modernes &nbsp;Ultraschall-<br>gerät mit Farbdoppler. 
			Sie als Tierhalter sind bei der Untersuchung dabei und können beruhigend auf ihr Tier einwirken. 
			Die Unter-<br>suchung ist für Ihr Tier schonend, schmerzfrei und kann ohne Narkose durchgeführt werden. 
			Mit Hilfe der Ultraschall-Untersuchung können die Organe in ihrer Form, Größe und dessen Veränderung bei Erkrankungen dargestellt und beurteilt werden. 
		</p>

