

		<h2>Diagnostik ist wichtig</h2>

		<div class="spacer"><img src="img/horizontal-line.png"></div>

		<p>
			Wir verfügen über ein modernes Ultraschall<wbr>gerät mit Farb<wbr>doppler. 
			Sie als Tier<wbr>halter sind bei der Unter<wbr>suchung dabei und können beruhigend auf ihr Tier einwirken. 
			Die Unter<wbr>suchung ist für Ihr Tier schonend, schmerzfrei und kann ohne Narkose durchgeführt werden. 
			Mit Hilfe der Ultra<wbr>schall-<wbr>Untersuchung können die Organe in ihrer Form, Größe und dessen Veränderung bei Erkran<wbr>kungen dargestellt und beurteilt werden. 
		</p>

