

  <div class="inner-description">
    <h2>Weichteil<wbr>chirurgie</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Wir führen Operationen  an inneren Orga- nen, Muskulatur und Haut durch. 
      Dazu gehören z.B. Kastrationen, Kai- serschnitt, Tumoroperationen, Magen- , Darmoperationen (bsp. Fremdkörper), Harn-, Genitaloperationen (bsp. Blasensteine), Milzentfernung und chirurgische Wundversorgung.
    </p>

    <div class="small-gap"></div>

    <p>
      Wir verwenden schonende Narkosemittel, die den jeweiligen Erkrankungen bzw. Operationen angepasst werden. 
      Wir operieren mit einer Intubations-Inhalationsnarkose und einer unterstützenden Narkoseüberwachung.
    </p>
  </div>
