

		<div>
			<h2>Weichteilchirurgie</h2>

			<div class="spacer"><img src="img/horizontal-line.png"></div>

			<p>
				Wir führen Operationen  an inneren Organen, Muskulatur und Haut durch. 
				Dazu gehören beispiels<wbr>weise Kastrationen, Kaiser<wbr>schnitt, Tumor<wbr>operationen, Magen- , Darm<wbr>operationen (bsp. Fremd<wbr>körper), Harn-, Genital<wbr>operationen (bsp. Blasen<wbr>steine), Milz<wbr>entfernung und chirurgische Wund<wbr>versorgung.
			</p>
			
			<div class="small-gap"></div>

			<p>
				Wir verwenden schonende Narkose<wbr>mittel, die den jeweiligen Erkrankungen bzw. Operationen angepasst werden. 
				Wir operieren mit einer Intubations-<wbr>Inhalations<wbr>narkose und einer unter<wbr>stützenden Narkose<wbr>überwachung.
			</p>
		</div>
