

  <div class="inner-description">
    <h2>Weichteil<wbr>chirurgie</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Wir füh&shy;ren Ope&shy;rati&shy;onen  an in&shy;ne&shy;ren Or&shy;ga&shy;nen, Mus&shy;ku&shy;lat&shy;ur und Haut durch. 
      Dazu ge&shy;hör&shy;en z.B. Ka&shy;stra&shy;tio&shy;nen, Kai&shy;ser&shy;schnitt, Tu&shy;mor&shy;ope&shy;ra&shy;tio&shy;nen, Ma&shy;gen-, Darm&shy;ope&shy;ra&shy;tio&shy;nen (z.B. Fremd&shy;körper), Harn-, Ge&shy;nital&shy;ope&shy;ra&shy;ti&shy;onen (z.B. Bla&shy;sen&shy;steine), Milz&shy;ent&shy;fer&shy;nung und chi&shy;rur&shy;gische Wund&shy;versor&shy;gung.
    </p>

    <div class="small-gap"></div>

    <p>
      Wir ver&shy;wen&shy;den scho&shy;nen&shy;de Nar&shy;kose&shy;mit&shy;tel, die den je&shy;wei&shy;li&shy;gen Er&shy;kran&shy;kun&shy;gen bzw. Ope&shy;ra&shy;tio&shy;nen an&shy;ge&shy;passt wer&shy;den. 
      Wir ope&shy;rie&shy;ren mit ei&shy;ner Intu&shy;ba&shy;tions-In&shy;hala&shy;tions&shy;nar&shy;kose und ei&shy;ner un&shy;ter&shy;stützen&shy;den Nar&shy;kose&shy;über&shy;wa&shy;chung.
    </p>
  </div>
