	<section id="zahnsteinentfernung" class="aktiv">
		<!-- noscript -->
		<h2>Zahnsteinentfernung</h2>
		
		<div class="bottom_10px"></div>
		<!-- /noscript -->

		<p>
			In unserer Praxis verfügen wir über eine <span class="fbold">eigene Zahnstation.</span> Wir entfernen mit einem Ultraschall-Zahnsteinentfernungsgerät die Zahnsteinbelege in Sedierung. Die hochfrequent schwingende Metallspitze sprengt den Zahnstein sanft ab. Anschließend werden die Zähne gründlich poliert.
		</p>

		<div class="bottom_10px"></div>
		
		<p>
			Im Zahnplaque sind Bakterien enthalten, die zur Entzündung des Zahnhalteapparates und Zahnfleisches führen. Tiere zeigen uns bei vereiterten Zähnen den Zahnschmerz oft erst im fortgeschrittenen Stadium. Häufig bleibt dann als Problemlösung nur noch die Zahnextraktion. Außerdem verursachen eitrige Zahnfächer als streuender bakterieller Herd große Schäden im Körper.
		</p>
		
		<div class="bottom_10px"></div>
		
		<p>
			Gerne beraten wir, wie Sie Zahnbelag und Zahnstein bei ihrem Tier vorbeugen können.
		</p>
		
		<div class="bottom_20px"></div>
		
		<figure>
			<img class="small" src="img/fassade_600x400.png" alt="Tiere">
		</figure>	
	</section>
