

		<div>
			<h2>Zahn<wbr>hygiene</h2>

			<div class="spacer"><img src="img/horizontal-line.png"></div>

			<p>
				Jährlich sollten Zähne und Zahn<wbr>fleisch kon<wbr>trol<wbr>liert werden, um so mög<wbr>lichst lange das Gebiss zu erhalten. 
				Gerne beraten wir, wie Sie Zahn<wbr>stein bei ihrem Tier vor<wbr>beugen können. 
				Denn die Bak<wbr>terien im Zahn<wbr>belag führen zur Ent<wbr>zündung des Zahn<wbr>halte<wbr>apparates und Zahn<wbr>fleisches. 
				Es ist wichtig zu wissen, dass Tiere den Zahn<wbr>schmerz bei ver<wbr>eiterten Zähnen oft erst im fort<wbr>geschrit<wbr>tenen Stadium zeigen.
				Häufig bleibt dann als Lösung nur noch die Zahn<wbr>extrak<wbr>tion.
			</p>
			
			<div class="small-gap"></div>
			
			<p>
				Bei Bedarf werden die Zähne mit einem Ultra<wbr>schall<wbr>gerät geputzt und an<wbr>schließ<wbr>end poliert. 
				Eben<wbr>falls führen wir Zahn<wbr>extrak<wbr>tionen und leichte Korrek<wbr>turen am Zahn<wbr>fleisch durch. 
				Die Zahn<wbr>behand<wbr>lungen werden mit einer kurzen Sedierung durch<wbr>geführt.
			</p>
		</div>
