

  <div class="inner-description">
    <h2>Zahnhygiene</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Jährlich sollten Zähne und Zahn<wbr>fleisch kontrolliert werden, um so möglichst lange das Gebiss zu erhalten. 
      Gerne beraten wir, wie Sie Zahn<wbr>stein bei ihrem Tier vorbeugen können. 
      Denn die Bakterien im Zahnbelag führen zur Entzündung des Zahn<wbr>halte<wbr>apparates und Zahn<wbr>fleisches. 
      Es ist wichtig zu wissen, dass Tiere den Zahn<wbr>schmerz bei vereiterten Zähnen oft erst im fort<wbr>geschrittenen Stadium zeigen.
      Häufig bleibt dann als Lösung nur noch die Zahn<wbr>extraktion.
    </p>

    <div class="small-gap"></div>

    <p>
      Bei Bedarf werden die Zähne mit einem Ultraschall<wbr>gerät geputzt und anschließend poliert. 
      Ebenfalls führen wir Zahn<wbr>extraktionen und leichte Korrekturen am Zahnfleisch durch. 
      Die Zahn<wbr>behandlungen werden mit einer kurzen Sedierung durchgeführt.
    </p>
  </div>
