

		<h2>Zahnhygiene</h2>

		<div class="small-gap"></div>

		<p>
			Jährlich sollten Zähne und Zahnfleisch kontrolliert werden, um so möglichst lange das Gebiss zu erhalten. 
			Gerne beraten wir, wie Sie Zahnplaque und Zahnstein bei ihrem Tier vorbeugen können. 
			Denn die Bakterien im Zahnbelag führen zur Entzündung des Zahnhalteapparates und Zahnfleisches. 
			Es ist wichtig zu wissen, dass Tiere den Zahnschmerz bei vereiterten Zähnen oft erst im fortgeschrittenen Stadium zeigen. 
			Häufig bleibt dann als Lösung nur noch die Zahnextraktion.
		</p>
		
		<div class="small-gap"></div>

		<p>
			Bei Bedarf werden die Zähne mit einem Ultraschallgerät geputzt und anschließend poliert. 
			Ebenfalls führen wir Zahnextraktionen und leichte Korrekturen am Zahnfleisch durch. 
			Die Zahnbehandlungen werden mit einer kurzen Sedierung durchgeführt.
		</p>

