
    <div id="kontakt">
      <!-- h2>Kontakt</h2 -->

      <!-- div class="spacer"><img src="img/horizontal-line.png" alt=""></div -->

      <!-- div class="gap"></div -->
      
      <p>
        <a href="team-elfi.html">Dr. Elfriede Koppensteiner</a>
      </p>

      <p>
        <a href="team-gerold.html">Mag. Gerold Koppensteiner</a>
      </p>

      <div class="huge-gap"></div>

      <p>1070 Wien, Kaiserstraße 33</p>

      <div class="small-gap"></div>

      <div class="telefon">
        <div class="telefon-row">
          <div class="telefon-cell1">
            Tel&nbsp;
          </div>
          <div class="telefon-cell2">
            01/
          </div>
          <div class="telefon-cell3">
            944 5 944
          </div>
          <div class="telefon-cell4">
            &nbsp;
          </div>
        </div>
        
        <div class="telefon-row">
          <div class="telefon-cell1">
            Notfälle&nbsp;&nbsp;&nbsp;
          </div>
          <div class="telefon-cell2">
            0699 1/
          </div>
          <div class="telefon-cell3">
            944 5 944
          </div>
          <div class="telefon-cell4">
            &nbsp;
          </div>
        </div>
      
        <div class="telefon-row">
          <div class="telefon-cell1">
            Fax
          </div>
          <div class="telefon-cell2">
            01/
          </div>
          <div class="telefon-cell3">
            944 5 944
          </div>
          <div class="telefon-cell4">
            &nbsp;55
          </div>
        </div>
      </div>

      <div class="telefon-row">
          <div colspan="4" class="telefon-cell1">
            Mail&nbsp;<a href="mailto:office@tierarztpraxis-kaiserstrasse.at" target="_blank">office@tierarztpraxis-kaiserstrasse.at</a>
          </div>
      </div>
        
      <div class="small-gap"></div>

      <table>
        <tr>
          <td colspan="2">Ordinationszeiten
          </td>
        </tr>
        <tr>
          <td>Mo - Fr&nbsp;&nbsp;&nbsp;</td>
          <td>09 - 12 Uhr ohne Termin</td>
        </tr>
        <tr>
          <td></td>
          <td>16 - 19 Uhr mit Termin</td>
        </tr>
        <tr>
          <td>Sa</td>
          <td>10 - 12 Uhr</td>
        </tr>
      </table>
    </div>
