
      <div id="news">
        <h2>ACHTUNG</h2>
        <p style="text-align: left;">
          Ordinationszeiten während der Weihnachtsfeiertage:<br>
          <span class="fbold">Montag, 22. Dezember</span>, ganztags.<br>
          <span class="fbold">Dienstag, 23. Dezember, bis 12h.</span><br>
          <span class="fbold">Montag, 29. Dezember</span>, ganztags.<br>
          <span class="fbold">Dienstag, 30. Dezember, bis 12h.</span><br>
          Ab Montag, 5. Jänner, gelten die normalen Öffnungszeiten. Am 6. Jänner ist jedoch wegen des Feiertags geschlossen.
        </p>
      </div>
