

    <div id="news">
      <h3>ACHTUNG</h3>

      <div class="small-gap"></div>

      <!-- p>Ab Februar 2018 bieten wir Zahn&shy;röntgen und eine moderne Zahn&shy;behandlungs&shy;station an!</p>

      <div class="small-gap"></div -->

      <p>Die Ordination ist am Montag, den 19. Februar, wegen eines Begräbnisses geschlossen.</p>
      
      <p>In dringenden Fällen, wenden Sie sich an die Tierklinik Breitensee, 1140 Wien, Tel.&nbsp; 01/982-61-96.</p>

      <p>Ab Dienstag, den 20. Februar, ist die Ordination wieder geöffnet.</p>
    </div>
