

    <div id="news">
      <h3>ACHTUNG</h3>

      <div class="small-gap"></div>

      <p>Ab Samstag, den 23. Dezember, bis einschließlich Mittwoch, den 27. Dezemeber, ist die Ordination wegen Weihnachten geschlossen.</p>

      <div class="small-gap"></div>

      <p>In dringenden Fällen, wenden Sie sich an die Tierklinik Breitensee, 1140 Wien, Tel.&nbsp; 01/982-61-96.</p>

      <div class="small-gap"></div>

      <p>Ab Donnerstag, den 28. Dezember, ist die Ordination wieder geöffnet.</p>
    </div>

