
{% if page.id == "mobile" %}
	<article id="anfahrt" class="mobile">
{% else %}		
	<article id="anfahrt">
{% endif %}

		<p>Sie erreichen unsere Ordination <span class="fbold">öffentlich</span></p>
		<ul>
			<li>
				mit der Straßenbahn Linie 5 - Haltestelle Stollgasse oder Westbahnstraße
			</li>
			<li>
				mit den Straßenbahnen Linie 6, 9, 18, 52 und 58 - Haltestelle Westbahnhof
			</li>
			<li>
				mit den U-Bahnen Linie U3 und U6 - Haltestelle Westbahnhof
			</li>
		</ul>
		
		<div class="bottom_20px"></div>

		<p>	
			Wenn Sie mit dem <span class="fbold">Auto</span> kommen, beachten Sie die Kurzparkregelung für den 7. Bezirk (Parkpickerl).
			Parkgaragen:
		</p>
		<ul class="parkgaragen">
			<li>Lugner-Garagen Kaiserstr. 45</li>
			<li>Apollo-Garage Apollog. 11-13</li>
			<li>Parkplatz 'la stafa' Kaiserstr. 7</li>
		</ul>

		<div style="clear:both" class="bottom_20px"></div>

		<figure class="map">
			{% if page.id == "anfahrt" %}	
				<a class="gallery" href="/img/plan_640x640.png">
					<img src="/img/plan_640x640.png" alt="Plan">
				</a>
			{% else %}
				<img src="/img/plan_640x640.png" alt="Plan">
			{% endif %}
		</figure>

	</article>
