<section id="digitales_roentgen" class="schulmedizin">
	<p>
		Mit unserer <span class="fbold">digitalen Röntgenanlage</span> sind die Röntgenbilder sofort verfügbar und weisen eine hochwertige Bildqualität auf. Aufgrund der digitalen Bildbearbeitung können Röntgendetails vergrößert und bearbeitet werden, wodurch die Bildauswertung wesentlich verbessert wird. Bei Bedarf können die Röntgenbilder per email an Spezialkliniken versendet werden.
	</p>
	
	<div class="bottom_20px"></div>
	
	<figure>
		<img src="img/empfangsraum_600x400.png" alt="Tiere">
	<figure>
</section>
