

		<section id="ernaehrungsberatung" class="aktiv">
			<h2>Ernährungsberatung</h2>
			
			<div class="bottom_10px"></div>

			<p>
				Gerne beraten wir Sie über die optimale Fütterung Ihres Tieres, unabhängig davon, ob Sie Fertigfutter, selbst gekochtes Futter oder rohes Fleisch füttern.<br>
				Wir bieten Ihnen eine allgemeine Beratung hinsichtlich der Vor-und Nachteile der jeweiligen Fütterungsart an. Zusammen mit Ihren Fütterungswünschen und den geschmacklichen Vorlieben ihres Tieres finden wir ein geeignetes Futter mit optimaler Nährstoffversorgung für Ihren Liebling.
			</p>

			<div class="bottom_10px"></div>

			<p>
				Es gibt viele Erkankungen, Allergien und Übergewicht, die eine spezielle Diät erfordern. Durch die richtige Diät können die Symptome und das Wohlbefinden verbessert werden. Wir helfen Ihnen, die richtige Diät auszuwählen.
			</p>


			<p>
				So wie für uns Menschen, als auch für unsere Haustiere ist eine möglichst <span class="fbold">natürliche, gesunde und ausgewogene Ernährung</span> wichtig für die Gesundheit. 
			</p>

			<div class="bottom_20px"></div>

		{% if page.id == "ernaehrung" %}				
			<figure>
				<div class="div-table">
					<div class="div-row">
						<div class="div-cell">
							<a class="gallery" href="/img/fleisch_480x480.png">
								<img style="width: 164px; height: 164px; padding-right: 9px;" 
											src="/img/fleisch_480x480.png" alt="Fleisch">
							</a>
						</div>
						<div class="div-cell">
							<a class="gallery" href="/img/gefluegel_480x480.png">
								<img style="width: 164px; height: 164px; padding-right: 9px;" 
										src="/img/gefluegel_480x480.png" alt="Geflügel">
							</a>
						</div>
						<div class="div-cell">
							<a class="gallery" href="/img/mischfutter_480x480.png">
								<img style="width: 164px; height: 164px;"  
											src="/img/mischfutter_480x480.png" alt="Mischfutter">
							</a>
						</div>
					</div>
				</div>
			</figure>
		{% endif %}		
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>
	
	{% if page.id == "mobile" %}
		<div class="bottom_20px"></div>
	{% endif %}

		<section id="rationserstellung" class="aktiv">
			<h2>Rationserstellung</h2>
			
			<div class="bottom_10px"></div>

			<p>
				Für die Erstellung beziehungsweise Überprüfung einer Futterration arbeiten wir mit einer spezialisierten Tierärztin für Tierernährung zusammen.
			</p>

			<div class="bottom_10px"></div>
					
			<p>
				Bei der <span class="fitalic">Rationserstellung</span> wird ein <span class="fbold">individuelles Rezept</span> anhand Ihrer Fütterungswünsche und dem Bedarf Ihres Tieres erstellt. Dabei werden das Alter, Wachstum, Leistung, Trächtigkeit und Krankheiten berücksichtigt. Es können Futterrezepte für eine alleinige Fütterung
			</p>
			<ul>
				<li>
					von hausgemachter Ration (gekocht oder roh/BARF)
				</li>
				<li>
					von Fertigfutter
				</li>
			</ul>
			<p>als auch für eine kombinierte Fütterung</p>
			<ul>
				<li>
					Fertigfutter mit gekocht oder roh/BARF
				</li>
			</ul>
			<p>erstellt werden.</p>
			
			<div class="bottom_10px"></div>
			
			<p>
				Mit der <span class="fitalic">Rationsüberprüfung</span> kann die Nährstoffversorgung Ihres Tieres und dessen individueller Bedarf überprüft und bei Bedarf angepaßt werden. So können Sie sicher gehen, daß Ihr Liebling mit allen Nährstoffen ausreichend versorgt ist. 
			</p>
			
			<div class="bottom_20px"></div>
			
		{% if page.id == "ernaehrung" %}			
			<figure>
				<div class="div-table">
					<div class="div-row">
						<div class="div-cell">
							<a class="gallery2" href="/img/huhn_480x480.png">
								<img style="width: 164px; height: 164px; padding-right: 9px;" 
										src="/img/huhn_320x320.png" alt="Huhn">
							</a>
						</div>
						<div class="div-cell">
							<a class="gallery2" href="/img/gemuese_480x480.png">
								<img style="width: 164px; height: 164px; padding-right: 9px;" 
										src="/img/gemuese_420x420.png" alt="Gemüse">
							</a>
						</div>
						<div class="div-cell">
							<a class="gallery2" href="/img/baellchen_480x480.png">
								<img style="width: 164px; height: 164px;" 
										src="/img/baellchen_220x220.png" alt="Bällchen">
							</a>
						</div>
					</div>
				</div>
			</figure>
		{% endif %}
		</section>

