
        <header>
            <div class="section group">
                <div class="col span_5_of_12">
                        <!-- div style="display: flex; align-items: center; justify-content: center; max-height: 240px; min-height: 160px;" -->
                                <a href="index.html"><img src="/img2/logo.jpg" alt="Logo"></a>
                        <!-- /div -->
                </div>
                <div class="col span_7_of_12">
                        <!-- div style="display: flex; align-items: center; max-height: 240px; min-height: 160px;" -->
                                <h1 style="text-align: left; padding-top: 60px">Erzieherin Schmitt</h1>
                        <!-- /div -->
                </div>
            </div>
            <div class="section group">
                <nav class="col span_12_of_12">
                        <hr>
                
                        <ul>
                         <li class="menu_nav">
                          {% if page.id == "index" %}
                            <a href="index.html"><span style="font-weight: bold">Willkommen</span></a>
                          {% else %}
                            <a href="index.html">Willkommen</a>
                          {% endif %}
                        </li>
                        <li class="menu_nav">
                          {% if page.id == "dienstleistungen" %}
                            <a href="dienstleistungen.html"><span style="font-weight: bold">Dienstleistungen</span></a>
                          {% else %}
                            <a href="dienstleistungen.html">Dienstleistungen</a>
                          {% endif %}
                        </li>
                        <li class="menu_nav">
                          {% if page.id == "rohrstock" %}
                            <a href="rohrstock.html"><span style="font-weight: bold">Rohrstock</span></a>
                          {% else %}
                            <a href="rohrstock.html">Rohrstock</a>
                          {% endif %}
                        </li>
                        <li class="menu_nav">
                        {% if page.id == "korrespondez"  %}
                            <a href="korrespondez.html"><span style="font-weight: bold">Korrespondez</span></a>
                        {% else %}
                            <a href="korrespondez.html">Korrespondez</a>
                        {% endif %}
                        </li>
                        </ul>
                </nav>
            </div>
        </header>

