
        <header class="section group">
            <div class="col span_2_of_12">
                <!-- div class="flexbox-container" -->
                <a href="index.html"><img src="/img2/logo.jpg" alt="Logo"></a>
                <!-- /div -->
            </div>
            <div class="col span_10_of_12">
                <!-- div class="flexbox-container" -->
                <h1>Erzieherin Schmitt</h1>
                <!-- /div -->
            </div>

            <nav class="col span_12_of_12">
                <hr>
                
                <ul>
                    <li class="menu_nav">
                        {% if page.id == "index" %}
                            <a href="index.html"><span style="font-weight: bold">Willkommen</span></a>
                        {% else %}
                            <a href="index.html">Willkommen</a>
                        {% endif %}
                                                    
                    </li>
                    <li class="menu_nav">
                        {% if page.id == "service" %}
                            <a href="service.html"><span style="font-weight: bold">Dienstleistungen</span></a>
                        {% else %}
                            <a href="service.html">Dienstleistungen</a>
                        {% endif %}
                                                    
                    </li>
                    <li class="menu_nav">
                        {% if page.id == "brief1"  %}
                            <a href="brief1.html"><span style="font-weight: bold">Brief #1</span></a>
                        {% else %}
                            <a href="brief1.html">Brief #1</a>
                        {% endif %}
                    </li>
                    <li class="menu_nav">
                        {% if page.id == "brief2"  %}
                            <a href="brief2.html"><span style="font-weight: bold">Brief #2</span></a>
                        {% else %}
                            <a href="brief2.html">Brief #2</a>
                        {% endif %}
                    </li>
                    <li class="menu_nav">
                        {% if page.id == "brief3"  %}
                            <a href="brief3.html"><span style="font-weight: bold">Brief #3</span></a>
                        {% else %}
                            <a href="brief3.html">Brief #3</a>
                        {% endif %}
                    </li>
                    <li class="menu_nav">
                        {% if page.id == "brief4"  %}
                            <a href="brief4.html"><span style="font-weight: bold">Brief #4</span></a>
                        {% else %}
                            <a href="brief4.html">Brief #4</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>

