
	<header style="position: relative;">
		<div class="div-table">
			<div class="div-row">
				<!-- div id="header-logo" class="div-cell">
					<a href="index.html"><img src="img/logo_150x150.jpg" alt="Logo"></a>
				</div -->				
				<div class="div-cell" style="background-image:url(img/banner10.png); background-repeat: no-repeat; width: 1024px; height: 128px;">
				<!-- div id="header-text" class="div-cell" -->
					<p style="position: absolute; top: 10px; right: 10px"><a href="/m/" style="font-size: 12px; line-height: 16px">
					<img src="/img/arrow-right.png" style="width: 19px; height: 16px;">Mobile Version</a></p>
					
					<h1 style="color: white; padding: 48px 20px 0px 192px;">Tierarztpraxis Kaiserstrasse</h1>

					<nav id="mainnav" style="text-align: left; padding: 32px 20px 0px 192px;">
						<a href="index.html">Startseite</a>

						<a href="team.html">Team</a>

						<a href="schulmedizin.html">Schulmedizin</a>

						<a href="homoeopathie.html">Homöopathie</a>

						<a href="ernaehrung.html">Ernährung</a>

						<a href="praxis.html">Praxis</a>

						<a href="anfahrt.html">Anfahrt</a>
					</nav>
				</div>
			</div>
		</div>
	</header>
