	<nav id="subnav">
		<div class="submenu_item bottom_line">
			<a id="nav_was_ist_homoeopathie" class="active" href="#" onclick="showsel('was_ist_homoeopathie')">Was ist klassische Homöopathie?</a>
		</div>
		
		<div class="submenu_item bottom_line">
			<a id="nav_unterschied" href="#" onclick="showsel('unterschied')">Unterschied zur Schulmedizin</a>
		</div>
		
		<div class="submenu_item bottom_line">
			<a id="nav_warum_homoeopathie" href="#" onclick="showsel('warum_homoeopathie')">Warum homöopathisch behandeln?</a>
		</div>
	</nav>
