

		<section id="was_ist_homoeopathie" class="aktiv">
			<h2>Was ist klassische Homöopathie?</h2>
			
			<div class="bottom_10px"></div>

			<p>
			{% if page.id == "homoeopathie" %}	
				<img style="float: right; margin-top: 5px; padding: 0px 0px 5px 10px; width: 200px; height: 268px" src="/img/hahnemann.png" alt="Hahnemann">
			{% endif %}
				Die Homöopathie ist eine natürliche, ganzheitliche Behandlungsmethode, die akute wie chronische Beschwerden beseitigen kann.<br>
				Sie wurde vor über 200 Jahren vom deutschen Arzt Samuel Hahnemann (1755-1843) begründet.
			</p>

			<div class="bottom_10px"></div>

			<p>
				Homöopathie heißt wörtlich übersetzt "ähnliches Leiden", demzufolge, soll das ausgewählte homöopathische Mittel ähnliche Symptome wie die, an denen das Tier leidet, haben. 
			</p>
			
			<div class="bottom_10px"></div>
			
			<p style="clear: both;">
				Der Begriff Homöopathie wird häufig mit verschiedenen Heilmethoden,  wie beispielsweise Bachblüten, Schüsslersalze, Phytotherapie, Kinesiologie, Komplexmittel (Tropfen gegen Durchfall, Blasenentzündung, Schnupfen usw.) gleichgesetzt. Diese unterschiedlichen Therapieformen haben jedoch mit den Grundlagen der Homöopathie nach Hahnemanns Lehre nichts zu tun. So wird in der klassischen Homöopathie im Gegensatz zu den vielen anderen Richtungen immer nur ein Mittel nach dem individuellen Symptomenbild des Patienten verabreicht.
			</p>

			<div class="bottom_10px"></div>
			
			<p>
				<span class="fbold">Homöopathische Ausbildung:</span><br>
				Als Tierärztin habe ich mich auf Homöopathie spezialisiert und verfüge über eine fundierte Ausbildung auf dem Gebiet der klassischen Homöopathie und mittlerweile auch über 10 Jahre Erfahrung in der homöopathischen Behandlung. 
			</p>
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>
	
	{% if page.id == "mobile" %}
		<div class="bottom_20px"></div>
	{% endif %}

		
		<section id="unterschied" class="aktiv">
			<h2>Unterschied zur Schulmedizin</h2>
			
			<div class="bottom_10px"></div>

			<p>
				In einem ausführlichen Erstgespräch (homöopathische Anamnese) werde ich die individuellen Krankheitssymptome und Besonderheiten möglichst genau erfassen. Die Dauer des Erstgespräches und Untersuchung beträgt etwa 1½ Stunden und die der Folgegespräche etwa ½ Stunde, daher bitte ich Sie einen Termin zu vereinbaren. 
			</p>
			
			<div class="bottom_10px"></div>
			
			<p>
				Als Homöopathin berücksichtige ich bei ihrem Tier nicht nur die Hauptbeschwerde, sondern auch allgemeine Verhaltensweisen, wie Fressverhalten, Schlafverhalten, Reaktion auf Wärme, Kälte und Wetterwechsel, etc. Es wird nicht nur die Hauptbeschwerde, beispielsweise Durchfall behandelt, sondern das ganze Tier mit seinem Durchfall. So werde ich bei "5 Patienten mit Durchfall", durch die jeweiligen individuellen Symptome bei jedem Tier eine andere Arznei verschreiben.
			</p>
			
			<div class="bottom_10px"></div>
			
			<p>
			{% if page.id == "homoeopathie" %}
				<img style="float: right; margin-top: 5px; padding: 0px 0px 5px 10px; width: 300px; height: 200px;" src="/img/globuli_600x400.png" alt="Globuli">
			{% endif %}
				Die ausgewählte homöopathische Arznei passt zu all diesen Symptomen und verändert die Beschwerden zum Positiven hin.  Ebenso steigert es das Wohl- und Allgemeinbefinden und stärkt das Immunsystem insgesamt.
			</p>

			<div class="bottom_10px"></div>

			<p>
				Bei der homöopathischen Behandlung wird der Patient natürlich und ganzheitlich behandelt.
			</p>		

			<div class="bottom_10px"></div>

			<p style="clear: both;">
				Homöopathische Mittel haben gewöhnlich keine Nebenwirkungen.
			</p>
		</section>