
	<div id="contact">
		<p>
			{% if page.id == "team" %}
				<a href="#elfi" onclick="showSelSection('elfi')">
			{% else %}	
				<a href="team.html#elfi">
			{% endif %}
			
			Dr. Elfriede Koppensteiner</a>
		</p>

		<p>
			{% if page.id == "team" %}
				<a href="#gerold" onclick="showSelSection('gerold')">
			{% else %}	
				<a href="team.html#gerold">
			{% endif %}
			
			Mag. Gerold Koppensteiner</a>
		</p>

		<div class="gap"></div>		

		<p>1070 Wien, Kaiserstraße 33</p>
		
		<table>
			<tr>
				<td>Tel&nbsp;&nbsp;</td>
				<td style="text-align: right">01/</td>
				<td>944 5 944</td>
			</tr>
			<tr>
				<td>Notfälle&nbsp;&nbsp;</td>
				<td style="text-align: right">0699 1/</td>
				<td>944 5 944</td>
			</tr>
			<tr>
				<td>Fax&nbsp;&nbsp;</td>
				<td style="text-align: right">01/</td>
				<td>944 5 944 55</td>
			</tr>
		</table>
		
		<div class="gap"></div>

		<table>
			<tr>
				<td colspan="2">Ordinationszeiten
				</td>
			</tr>
			<tr>
				<td>Mo-Fr&nbsp;&nbsp;</td>
				<td>09-12 Uhr ohne Termin</td>
			</tr>
			<tr>
				<td></td>
				<td>16-19 Uhr mit Termin</td>
			</tr>
			<tr>
				<td>Sa&nbsp;&nbsp;</td>
				<td>10-12 Uhr</td>
			</tr>
		</table>
	</div>
