
		<p class="bottom_10px">
			{% if page.id == "team" %}
				<a href="#elfi" onclick="showsel('elfi')">
			{% else %}	
				<a href="team.html#elfi">
			{% endif %}
			
			Dr. med. vet. <br>Elfriede Koppensteiner</a>
		</p>

		<p class="bottom_10px">
			{% if page.id == "team" %}
				<a href="#gerold" onclick="showsel('gerold')">
			{% else %}	
				<a href="team.html#gerold">
			{% endif %}
			
			Mag. med. vet. <br>Gerold Koppensteiner</a>
		</p>
		
		<p class="bottom_20px">1070 Wien, Kaiserstraße 33</p>
		
		<div class="bottom_dots"></div>
		
		<div class="bottom_20px"></div>
		
		<table>
			<tr>
				<td>Tel&nbsp;</td>
				<td style="text-align: right">01/</td>
				<td>944 5 944</td>
			</tr>
			<tr>
				<td>Notfälle&nbsp;</td>
				<td style="text-align: right">0699 1/</td>
				<td>944 5 944</td>
			</tr>
			<tr>
				<td>Fax&nbsp;</td>
				<td style="text-align: right">01/</td>
				<td>944 5 944 55</td>
			</tr>
		</table>
		
		<div class="bottom_20px"></div>

		<div class="bottom_dots"></div>
		
		<div class="bottom_20px"></div>

		<table>
			<tr>
				<td colspan="2">Ordinationszeiten
												<div class="bottom_20px"></div>
				</td>
			</tr>
			<tr>
				<td>Mo-Fr&nbsp;</td>
				<td>09-12 Uhr ohne Termin</td>
			</tr>
			<tr>
				<td></td>
				<td>16-19 Uhr mit Termin</td>
			</tr>
			<tr>
				<td>Sa&nbsp;</td>
				<td>10-12 Uhr</td>
			</tr>
		</table>
