

		<div class="contact">
			<span class="fbold">Anschrift:</span> <br>
			1070 Wien, Kaiserstraße 33
		</div>
		
		<div class="bottom_10px"></div>
		
		<div class="contact">
			<span class="fbold">Telefon:</span>
			<table>
				<tr>
					<td>Festnetz&nbsp;</td>
					<td style="text-align: right">01/</td>
					<td>944 5 944</td>
				</tr>
				<tr>
					<td>Notfälle&nbsp;</td>
					<td style="text-align: right">0699 1/</td>
					<td>944 5 944</td>
				</tr>
				<tr>
					<td>Fax&nbsp;</td>
					<td style="text-align: right">01/</td>
					<td>944 5 944 55</td>
				</tr>
			</table>
		</div>
		
		<div class="bottom_10px"></div>
		
		<div class="contact">
			<span class="fbold">Ordinationszeiten:</span>
			<table>
				<tr>
					<td>Mo-Fr&nbsp;</td>
					<td>09-12 Uhr ohne Termin</td>
				</tr>
				<tr>
					<td></td>
					<td>16-19 Uhr mit Termin</td>
				</tr>
				<tr>
					<td>Sa&nbsp;</td>
					<td>10-12 Uhr</td>
				</tr>
			</table>
		</div>
