
    <nav id="mobile-nav">

      <ul>
        <li id="list-index" class="mobile-nav">
          <a href="#">Willkommen</a>
        </li>

        <li id="list-team" class="mobile-nav">
          <a href="#">Team</a>
        </li>

        <li id="list-schulmedizin" class="mobile-nav">
          <a href="#">Schulmedizin</a>
        </li>

        <li id="list-homoeopathie" class="mobile-nav">
          <a href="#">Homöopathie</a>
        </li>

        <li id="list-ernaehrung" class="mobile-nav">
          <a href="#">Ernährung</a>
        </li>

        <li id="list-anfahrt" class="mobile-nav">
          <a href="#">Anfahrt</a>
        </li>

        <li id="list-impressum" class="mobile-nav">
          <a href="#">Impressum</a>
        </li>

        <li id="list-vollversion" class="mobile-nav">
          <a href="#">Zur Vollversion wechseln</a>
        </li>
      </ul>

    </nav>
