
			
    <div id="subnav">

	    <div class="menu-item horizontal-dotted-line">
	      <a id="nav_elfi" class="subnav-active" href="#elfi" onclick="showSelSection('elfi')">
          Dr. med. vet. <br>
          Elfriede Koppensteiner
	      </a>
	    </div>
	    
	    <div class="menu-item horizontal-dotted-line">
	      <a id="nav_gerold" href="#gerold" onclick="showSelSection('gerold')">
          Mag. med. vet. <br>
          Gerold Koppensteiner
	      </a>
	    </div>

	  </div>
