

        <div id="subnav">

          <div class="menu-item horizontal-dotted-line">
            <a id="nav_ernaehrungsberatung" class="subnav-active" href="#ernaehrungsberatung" onclick="showSelSection('ernaehrungsberatung')">
                Individuelle Ernährungsberatung
            </a>
          </div>

          <div class="menu-item horizontal-dotted-line">
            <a id="nav_rationserstellung" href="#rationserstellung" onclick="showSelSection('rationserstellung')">
                Rationserstellung- und Überprüfung
            </a>
          </div>

        </div>
