

    <nav id="mainnav">

    <div id="nav_index" class="menu-item">
      <a href="/index.html" class="btn">Willkommen</a>
    </div>

    <div id="nav_team" class="menu-item">
      <a href="/team/elfi.html" class="btn">Team</a>
      <div class="submenu-item">
        <a id="nav_elfi" href="/team/elfi.html">
          Elfriede Koppensteiner
        </a>
      </div>
      <div class="submenu-item">
        <a id="nav_gerold" href="/team/gerold.html">
          Gerold Koppensteiner
        </a>
      </div>
      <div class="submenu-item">
        <a id="nav_mitarbeiter" href="/team/mitarbeiter.html">
          Unser Team
        </a>
      </div>
    </div>

    <div id="nav_schulmedizin" class="menu-item">
      <a href="/schulmedizin/allgemeine_leistungen.html" class="btn">Schulmedizin</a>
      <div class="submenu-item">
        <a id="nav_allgemeine_leistungen" href="/schulmedizin/allgemeine_leistungen.html">
            Allgemeine Leistungen
          </a>
      </div>

      <div class="submenu-item">
          <a id="nav_labordiagnostik" href="/schulmedizin/labordiagnostik.html">
            Labordiagnostik
          </a>
      </div>

      <div class="submenu-item">
          <a id="nav_digitales_roentgen" href="/schulmedizin/digitales_roentgen.html">
            Digitales Röntgen
          </a>
      </div>

      <div class="submenu-item">
          <a id="nav_ultraschall" href="/schulmedizin/ultraschall.html">
            Ultraschall
          </a>
      </div>
        
      <div class="submenu-item">
          <a id="nav_zahnhygiene" href="/schulmedizin/zahnhygiene.html">
            Zahnhygiene
        </a>
      </div>
        
      <div class="submenu-item">
          <a id="nav_weichteilchirurgie" href="/schulmedizin/weichteilchirurgie.html">
            Weichteilchirurgie
          </a>
      </div>
    </div>

    <div id="nav_homoeopathie" class="menu-item">
      <a href="/homoeopathie/heilen.html" class="btn">Homöopathie</a>
        <div class="submenu-item">
          <a id="nav_heilen" href="/homoeopathie/heilen.html">
            Heilen durch <br>Homöopathie
          </a>
        </div>
        
        <div class="submenu-item">
          <a id="nav_unterschied" href="/homoeopathie/unterschied.html">
            Unterschied zur <br>Schulmedizin
          </a>
        </div>

        <div class="submenu-item">
          <a id="nav_behandlung" href="/homoeopathie/behandlung.html">
            Behandlung mit <br>Homöopathie
          </a>
        </div>
    </div>

    <div id="nav_ernaehrung" class="menu-item">
      <a href="/ernaehrung/ernaehrungsberatung.html" class="btn">Ernährung</a>
          <div class="submenu-item">
            <a id="nav_ernaehrungsberatung" href="/ernaehrung/ernaehrungsberatung.html">
                Individuelle <br>Ernährungsberatung
            </a>
          </div>

          <div class="submenu-item">
            <a id="nav_rationserstellung" href="/ernaehrung/rationserstellung.html">
                Rationserstellung- <br>und Überprüfung
            </a>
          </div>
    </div>

  
    <div id="nav_galerie" class="menu-item">
      <a href="/bilder1.html">Galerie</a>
          <div class="submenu-item">
            <a id="nav_bilder1" href="/bilder1.html">
                Bilder
            </a>
          </div>

          <div class="submenu-item">
            <a id="nav_bilder2" href="/bilder2.html">
                Weitere Bilder
            </a>
          </div>
    </div>


    <div id="nav_anfahrt" class="menu-item">
        <a href="/anfahrt.html" class="btn">Anfahrt</a>
    </div>

    </nav>
