
	<nav id="mainnav" style="text-align: left; padding: 0px 0px 0px 0px;">

		<div class="menu-item">
			<a href="index.html">Startseite</a>
		</div>

		<div class="menu-item">
			<a href="team.html">Team</a>
			<div class="submenu-item">
				<a id="nav_elfi" href="#elfi" onclick="showSelSection('elfi')">
					Elfriede Koppensteiner
				</a>
			</div>
			<div class="submenu-item">
				<a id="nav_gerold" href="#gerold" onclick="showSelSection('gerold')">
					Gerold Koppensteiner
				</a>
			</div>
		</div>

		<div class="menu-item">
			<a href="schulmedizin.html">Schulmedizin</a>
			<div class="submenu-item">
				<a id="nav_allgemeine_leistungen" href="#allgemeine_leistungen" onclick="showSelSection('allgemeine_leistungen')">
						Allgemeine Leistungen
					</a>
			</div>

			<div class="submenu-item">
					<a id="nav_labordiagnostik" href="#labordiagnostik" onclick="showSelSection('labordiagnostik')">
						Labordiagnostik
					</a>
			</div>

			<div class="submenu-item">
					<a id="nav_digitales_roentgen" href="#digitales_roentgen" onclick="showSelSection('digitales_roentgen')">
						Digitales Röntgen
					</a>
			</div>

			<div class="submenu-item">
					<a id="nav_ultraschall" href="#ultraschall" onclick="showSelSection('ultraschall')">
						Ultraschall
					</a>
			</div>
				
			<div class="submenu-item">
					<a id="nav_zahnsteinentfernung" href="#zahnsteinentfernung" onclick="showSelSection('zahnsteinentfernung')">
						Zahnsteinentfernung
				</a>
			</div>
				
			<div class="submenu-item">
					<a id="nav_weichteilchirurgie" href="#weichteilchirurgie" onclick="showSelSection('weichteilchirurgie')">
						Weichteilchirurgie
					</a>
			</div>
		</div>

		<div class="menu-item">
			<a href="homoeopathie.html">Homöopathie</a>
				<div class="submenu-item">
					<a id="nav_was_ist_homoeopathie" href="#was_ist_homoeopathie" onclick="showSelSection('was_ist_homoeopathie')">
						Was ist klassische Homöopathie?
					</a>
				</div>
				
				<div class="submenu-item">
					<a id="nav_unterschied" href="#unterschied" onclick="showSelSection('unterschied')">
						Unterschied zur Schulmedizin
					</a>
				</div>
		</div>

		<div class="menu-item">
			<a href="ernaehrung.html">Ernährung</a>
          <div class="submenu-item">
            <a id="nav_ernaehrungsberatung" href="#ernaehrungsberatung" onclick="showSelSection('ernaehrungsberatung')">
                Individuelle Ernährungsberatung
            </a>
          </div>

          <div class="submenu-item">
            <a id="nav_rationserstellung" href="#rationserstellung" onclick="showSelSection('rationserstellung')">
                Rationserstellung- und Überprüfung
            </a>
          </div>
		</div>

		<div class="menu-item">
			<a href="praxis.html">Praxis</a>
		</div>

		<div class="menu-item">
				<a href="anfahrt.html">Anfahrt</a>
		</div>
	</nav>

