
	<nav id="mainnav">

		<div id="nav_index" class="menu-item">
			<a href="index.html">Willkommen</a>
		</div>

		<div id="nav_team" class="menu-item">
			<a href="team.html">Team</a>
			<div class="submenu-item">
				<a id="nav_elfi" href="#elfi" onclick="showSelSection('team#elfi')">
					Elfriede Koppensteiner
				</a>
			</div>
			<div class="submenu-item">
				<a id="nav_gerold" href="#gerold" onclick="showSelSection('team#gerold')">
					Gerold Koppensteiner
				</a>
			</div>
		</div>

		<div id="nav_schulmedizin" class="menu-item">
			<a href="schulmedizin.html">Schulmedizin</a>
			<div class="submenu-item">
				<a id="nav_allgemeine_leistungen" href="#allgemeine_leistungen" onclick="showSelSection('schulmedizin#allgemeine_leistungen')">
						Allgemeine Leistungen
					</a>
			</div>

			<div class="submenu-item">
					<a id="nav_labordiagnostik" href="#labordiagnostik" onclick="showSelSection('schulmedizin#labordiagnostik')">
						Labordiagnostik
					</a>
			</div>

			<div class="submenu-item">
					<a id="nav_digitales_roentgen" href="#digitales_roentgen" onclick="showSelSection('schulmedizin#digitales_roentgen')">
						Digitales Röntgen
					</a>
			</div>

			<div class="submenu-item">
					<a id="nav_ultraschall" href="#ultraschall" onclick="showSelSection('schulmedizin#ultraschall')">
						Ultraschall
					</a>
			</div>
				
			<div class="submenu-item">
					<a id="nav_zahnhygiene" href="#zahnhygiene" onclick="showSelSection('schulmedizin#zahnhygiene')">
						Zahnhygiene
				</a>
			</div>
				
			<div class="submenu-item">
					<a id="nav_weichteilchirurgie" href="#weichteilchirurgie" onclick="showSelSection('schulmedizin#weichteilchirurgie')">
						Weichteilchirurgie
					</a>
			</div>
		</div>

		<div id="nav_homoeopathie" class="menu-item">
			<a href="homoeopathie.html">Homöopathie</a>
				<div class="submenu-item">
					<a id="nav_heilen_durch_homoeopathie" href="#heilen_durch_homoeopathie" onclick="showSelSection('homoeopathie#heilen_durch_homoeopathie')">
						Heilen durch <br>Homöopathie
					</a>
				</div>
				
				<div class="submenu-item">
					<a id="nav_unterschied" href="#unterschied" onclick="showSelSection('homoeopathie#unterschied')">
						Unterschied zur <br>Schulmedizin
					</a>
				</div>

				<div class="submenu-item">
					<a id="nav_behandlung" href="#behandlung" onclick="showSelSection('homoeopathie#behandlung')">
						Behandlung mit <br>Homöopathie
					</a>
				</div>
		</div>

		<div id="nav_ernaehrung" class="menu-item">
			<a href="ernaehrung.html">Ernährung</a>
          <div class="submenu-item">
            <a id="nav_ernaehrungsberatung" href="#ernaehrungsberatung" onclick="showSelSection('ernaehrung#ernaehrungsberatung')">
                Individuelle <br>Ernährungsberatung
            </a>
          </div>

          <div class="submenu-item">
            <a id="nav_rationserstellung" href="#rationserstellung" onclick="showSelSection('ernaehrung#rationserstellung')">
                Rationserstellung- <br>und Überprüfung
            </a>
          </div>
		</div>

		<div id="nav_galerie" class="menu-item">
			<a href="galerie.html">Galerie</a>
		</div>

		<div id="nav_anfahrt" class="menu-item">
				<a href="anfahrt.html">Anfahrt</a>
		</div>

	</nav>
