

{% if page.id == "mobile" %}
	<article id="praxis" class="mobile">
{% else %}		
	<article id="praxis">
{% endif %}

		<section id="unsere_praxis" class="aktiv">
			<h2>Unsere Tierarztpraxis</h2>
			
			<div class="bottom_10px"></div>

			<p>
				Unsere Tierarztpraxis befindet sich in der Kaiserstrasse 33, zwischen Seidengasse und Stollgasse. Die Eingangstür ist ebenerdig, Sie gehen vom Gehsteig direkt ins Wartezimmer.
			</p>

			<div class="bottom_20px"></div>
			
			<figure>
				<img class="small" src="/img/fassade_600x400.png" alt="Fassade">
			</figure>
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>

	{% if page.id == "praxis" %}
		<section id="bildergalerie_praxis" class="aktiv">
			<h2>Bildergalerie Tierarztpraxis</h2>

			<div class="bottom_10px"></div>

			<figure>
				<a class="gallery" href="/img/fassade_600x400.png">
					<img style="float: left; width:170px; height:113px;" src="/img/fassade_600x400.png" alt="Portal">
				</a>

				<a class="gallery" href="/img/behandlungsraum_600x400.png"><img style="float: left; width:170px; height:113px;" src="/img/behandlungsraum_600x400.png" alt="Behandlungsraum"></a>
				
				<a class="gallery" href="/img/empfangsraum_600x400.png"><img style="float: left;  width:170px; height:113px;" src="/img/empfangsraum_600x400.png" alt="Empfangsraum"></a>
			</figure>
		</section>
	{% endif %}
