
    <nav id="desktop-nav">

      <div id="nav_index" class="menu-item">
        <a href="/rindex.html">Willkommen</a>
      </div>
      <!-- Index/Willkommen end -->


      <div id="nav_team" class="menu-item">
        <a href="/rteam.html#elfi">Team</a>

        <div id="subnav_elfi" class="submenu-item nicht-aktiv">
          <a href="#elfi" onclick="showSection('team', 'elfi')">
            Elfriede Koppensteiner
          </a>
        </div>

        <div id="subnav_gerold" class="submenu-item nicht-aktiv">
          <a href="#gerold" onclick="showSection('team', 'gerold')">
            Gerold Koppensteiner
          </a>
        </div>

        <div id="subnav_mitarbeiter" class="submenu-item nicht-aktiv">
          <a href="#mitarbeiter" onclick="showSection('team', 'mitarbeiter')">
            Unser Team
          </a>
        </div>
      </div>
      <!-- Team end -->


      <div id="nav_schulmedizin" class="menu-item">
        <a href="/rschulmedizin.html#allgleistungen">Schulmedizin</a>

        <div id="subnav_allgleistungen" class="submenu-item nicht-aktiv">
          <a href="#allgleistungen" onclick="showSection('schulmedizin', 'allgleistungen')">
              Allgemeine Leistungen
            </a>
        </div>

        <div id="subnav_labordiagnostik" class="submenu-item nicht-aktiv">
          <a href="#labordiagnostik" onclick="showSection('schulmedizin', 'labordiagnostik')">
            Labordiagnostik
          </a>
        </div>

        <div id="subnav_roentgen" class="submenu-item nicht-aktiv">
          <a href="#roentgen" onclick="showSection('schulmedizin', 'roentgen')">
            Digitales Röntgen
          </a>
        </div>

        <div id="subnav_ultraschall" class="submenu-item nicht-aktiv">
          <a href="#ultraschall" onclick="showSection('schulmedizin', 'ultraschall')">
            Ultraschall
          </a>
        </div>

        <div id="subnav_zahnmedizin" class="submenu-item nicht-aktiv">
          <a href="#zahnmedizin" onclick="showSection('schulmedizin', 'zahnmedizin')">
            Zahnmedizin
          </a>
        </div>
          
        <div id="subnav_chirurgie" class="submenu-item nicht-aktiv">
          <a href="#chirurgie" onclick="showSection('schulmedizin', 'chirurgie')">
            Weichteilchirurgie
          </a>
        </div>
      </div><!-- Schulmedizin end -->


      <div id="nav_homoeopathie" class="menu-item">
        <a href="/rhomoeopathie.html#heilen">Homöopathie</a>

        <div id="subnav_heilen" class="submenu-item nicht-aktiv">
          <a href="#heilen" onclick="showSection('homoeopathie', 'heilen')">
            Heilen durch <br>Homöopathie
          </a>
        </div>
        
        <div id="subnav_unterschied" class="submenu-item nicht-aktiv">
          <a href="#unterschied" onclick="showSection('homoeopathie', 'unterschied')">
            Unterschied zur <br>Schulmedizin
          </a>
        </div>

        <div id="subnav_behandlung" class="submenu-item nicht-aktiv">
          <a href="#behandlung" onclick="showSection('homoeopathie', 'behandlung')">
            Behandlung mit <br>Homöopathie
          </a>
        </div>
        <div id="subnav_links" class="submenu-item nicht-aktiv">
          <a href="#links" onclick="showSection('homoeopathie', 'links')">
            Links zur <br>Homöopathie
          </a>
        </div>
      </div><!-- Homöopathie end -->


      <div id="nav_ernaehrung" class="menu-item">
        <a href="/rernaehrung.html#ernaehrungsberatung">Ernährung</a>

        <div id="subnav_ernaehrungsberatung" class="submenu-item nicht-aktiv">
          <a href="#ernaehrungsberatung" onclick="showSection('ernaehrung', 'ernaehrungsberatung')">
              Individuelle <br>Ernährungsberatung
          </a>
        </div>

        <div id="subnav_rationserstellung" class="submenu-item nicht-aktiv">
          <a href="#rationserstellung" onclick="showSection('ernaehrung', 'rationserstellung')">
              Rationserstellung- <br>und Überprüfung
          </a>
        </div>
      </div><!-- Ernährung end -->


      <div id="nav_galerie" class="menu-item">
        <a href="/rgalerie.html#galerie1">Galerie</a>

        <div id="subnav_galerie1" class="submenu-item nicht-aktiv">
          <a href="#galerie1" onclick="showSection('galerie', 'galerie1')">
              Bilder
          </a>
        </div>

        <div id="subnav_galerie2" class="submenu-item nicht-aktiv">
          <a href="#galerie2" onclick="showSection('galerie', 'galerie2')">
              Weitere Bilder
          </a>
        </div>
      </div><!-- Galerie end -->


      <div id="nav_anfahrt" class="menu-item">
          <a href="/ranfahrt.html">Anfahrt</a>
      </div><!-- Anfahrt end -->


      <div id="nav_impressum" class="menu-item">
        <a href="/rimpressum.html">Impressum</a>
      </div><!-- Impressum end -->

    </nav>
