
    <nav id="mobile-nav">
      <ul>
        <li id="willkommen">
          <a href="/rindex.html">Willkommen</a>
        </li>

        <li id="team">
          <a href="/rteam.html">Team</a>
        </li>

        <li id="schulmedizin">
          <a href="/rschulmedizin.html">Schulmedizin</a>
        </li>

        <li id="homoeopathie">
          <a href="/rhomoeopathie.html">Homöopathie</a>
        </li>

        <li id="ernaehrung">
          <a href="/rernaehrung.html">Ernährung</a>
        </li>

        <li id="galerie">
          <a href="/rgalerie.html">Galerie</a>
        </li>

        <li id="anfahrt">
          <a href="/ranfahrt.html">Anfahrt</a>
        </li>

        <li id="impressum">
          <a href="/rimpressum.html">Impressum</a>
        </li>
      </ul>
    </nav>
