

		<section id="allgemeine_leistungen" class="aktiv">
			<h2>Allgemeine Leistungen</h2>
			
			<div class="bottom_10px"></div>
				
			<p>
				In unserer <span class="fbold">Ambulanz</span> untersuchen wir Ihre Tiere und führen Impfungen, Chippen, Blutdruckmessungen, EKG, Entwurmungen, Parasitenbekämpfungen, individuelle Ernährungsberatungen und Vorsorgeuntersuchungen durch. Bei internistischen Patienten bieten wir Ihnen weiterführende Laboruntersuchungen, Röntgen und Ultraschall an. Darüber hinaus können wir Patienten stationär aufnehmen, medizinisch betreuen und versorgen.   
			</p>
			
			<div class="bottom_20px"></div>
			
		{% if page.id == "schulmedizin" %}
			<figure>
				<img class="small" src="/img/behandlungsraum_600x400.png" alt="Tiere">
			</figure>
		{% endif %}
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>


		<section id="labordiagnostik" class="aktiv">
			<h2>Labordiagnostik</h2>
		
			<div class="bottom_10px"></div>
		
			<p>
				Die wichtigen Blut-, Kot- und Urinuntersuchungen können wir in unserem <span class="fbold">praxiseigenen Labor</span> sofort durchführen. Die in wenigen Minuten vorliegenden Ergebnisse helfen uns die Diagnose zu erstellen und mit der entsprechenden Therapie zu beginnen. Weiters arbeiten wir mit Speziallabors und der Veterinärmedizischen Universität zusammen, wo wir die Möglichkeit haben, besondere Fragestellungen abzuklären.
			</p>
			
			<div class="bottom_20px"></div>
			
		{% if page.id == "schulmedizin" %}
			<figure>
				<img class="small" src="/img/chamaeleon_600x400.png" alt="Tiere">
			</figure>
		{% endif %}
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>


		<section id="digitales_roentgen" class="aktiv">
			<h2>Digitales Roentgen</h2>
			
			<div class="bottom_10px"></div>
			
			<p>
				Mit unserer <span class="fbold">digitalen Röntgenanlage</span> sind die Röntgenbilder sofort verfügbar und weisen eine hochwertige Bildqualität auf. Aufgrund der digitalen Bildbearbeitung können Röntgendetails vergrößert und digital bearbeitet werden, wodurch die Bildauswertung wesentlich verbessert wird. Wir führen Röntgenuntersuchungen von Brusthöhle (bei Lungen-und Herzkrankheiten, Luftröhrenkollaps, Tumoren, etc.) und Bauchhöhle (Fremdkörper, Blasensteine, Tumoren, etc.) sowie Kontraströntgen durch. Ebenso wichtig sind Röntgenaufnahmen bei Knochenfrakturen, Arthrosen, erblich bedingten Gelenkserkrankungen wie Hüftgelenksdysplasie und Knochentumoren. Bei Bedarf können wir die Röntgenbilder per email an Spezialkliniken versenden.
			</p>
			
			<div class="bottom_20px"></div>
		
		{% if page.id == "schulmedizin" %}			
			<figure>
				<img class="small" src="/img/empfangsraum_600x400.png" alt="Tiere">
			</figure>
		{% endif %}
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>


		<section id="ultraschall" class="aktiv">
			<h2>Ultraschall</h2>
			
			<div class="bottom_10px"></div>

			<p>	
				Neben dem Röntgen verwenden wir unser <span class="fbold">modernes Ultraschallgerät</span>. Die Ultraschall-Untersuchung ist für den Patienten schonend, schmerzfrei und kann in der Regel ohne Narkose durchgeführt werden. Mit Hilfe des Ultraschallgerätes können Bauchhöhlenorgane in ihrer Organstruktur, Form, Größe und dessen Veränderung bei Erkrankungen genau dargestellt und beurteilt werden. Wir führen die Ultraschall-Untersuchung an folgenden Bauchorganen durch: Leber, Gallenblase, Magen, Darm, Pankreas, Milz, Nieren, Nebennieren, Harnblase, Gebärmutter, Ovarien, Prostata und Hoden. Die Ultraschallbilder sind bei diesen Organen meist aussagekräftiger als Röntgenbilder. Weiters führen wir Trächtigkeitsuntersuchungen durch.
			</p>

			<div class="bottom_20px"></div>
			
		{% if page.id == "schulmedizin" %}
			<figure>
				<img class="small" src="/img/kaninchen_hund_600x400.png" alt="Tiere">
			</figure>
		{% endif %}
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>


		<section id="zahnsteinentfernung" class="aktiv">
			<h2>Zahnsteinentfernung</h2>

			<div class="bottom_10px"></div>

			<p>
				In unserer Praxis verfügen wir über eine <span class="fbold">eigene Zahnstation.</span> Wir entfernen mit einem Ultraschall-Zahnsteinentfernungsgerät die Zahnsteinbelege in Sedierung. Die hochfrequent schwingende Metallspitze sprengt den Zahnstein sanft ab. Anschließend werden die Zähne gründlich poliert.
			</p>

			<div class="bottom_10px"></div>
			
			<p>
				Im Zahnplaque sind Bakterien enthalten, die zur Entzündung des Zahnhalteapparates und Zahnfleisches führen. Tiere zeigen uns bei vereiterten Zähnen den Zahnschmerz oft erst im fortgeschrittenen Stadium. Häufig bleibt dann als Lösung nur noch die Zahnextraktion. Außerdem verursachen eitrige Zahnfächer als streuender bakterieller Herd große Schäden im Körper.
			</p>
			
			<div class="bottom_10px"></div>
			
			<p>
				Gerne beraten wir, wie Sie Zahnbelag und Zahnstein bei ihrem Tier vorbeugen können.
			</p>
			
			<div class="bottom_20px"></div>
		
		{% if page.id == "schulmedizin" %}
			<figure>
				<img class="small" src="/img/fassade_600x400.png" alt="Tiere">
			</figure>
		{% endif %}
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>


		<section id="weichteilchirurgie" class="aktiv">
			<h2>Weichteilchirurgie</h2>

			<div class="bottom_10px"></div>

			<p>
				Für <span class="fbold">Operationen</span> verwenden wir schonende Narkosemittel, die den jeweiligen Erkrankungen bzw. Operationen angepasst werden. Wir operieren mit einer Intubations-Inhalationsnarkose und einer unterstützenden Narkoseüberwachung. Wir führen folgende operative Eingriffe durch:
			</p>
			<ul>
				<li>Kastrationen</li>
				<li>Kaiserschnitt</li>
				<li>Tumoroperationen</li>
				<li>Magen/Darmoperationen, wie Fremdkörper, etc.</li>
				<li>Harn/Genitaloperationen, wie Blasensteine, etc.</li>
				<li>Milzentferung</li>
				<li>Chirurgische Wundversorgungen</li>
				<li>etc.</li>
			</ul>

			<div class="bottom_20px"></div>
		
		{% if page.id == "schulmedizin" %}
			<figure>
				<img class="small" src="/img/katze_schildkroete_600x400.png" alt="Tiere">
			</figure>
		{% endif %}
		</section>