	<nav id="subnav">
		<div class="submenu_item bottom_line">
			<a id="nav_allgemeine_leistungen" class="active" href="#" onclick="showsel('allgemeine_leistungen')">Allgemeine Leistungen</a>
		</div>
		
		<div class="submenu_item bottom_line">
			<a id="nav_labordiagnostik" href="#" onclick="showsel('labordiagnostik')">Labordiagnostik</a>
		</div>
		
		<div class="submenu_item bottom_line">
			<a id="nav_digitales_roentgen" href="#" onclick="showsel('digitales_roentgen')">Digitales Röntgen</a>
		</div>
		
		<div class="submenu_item bottom_line">
			<a id="nav_ultraschall" href="#" onclick="showsel('ultraschall')">Ultraschall</a>
		</div>
		
		<div class="submenu_item bottom_line">
			<a id="nav_zahnsteinentfernung" href="#" onclick="showsel('zahnsteinentfernung')">Zahnsteinentfernung</a>
		</div>
		
		<div class="submenu_item bottom_line">
			<a id="nav_weichteilchirurgie" href="#" onclick="showsel('weichteilchirurgie')">Weichteilchirurgie</a>
		</div>
	</nav>
