

{% if page.id == "mobile" %}
	<article id="team" class="mobile">
{% else %}		
	<article id="team">
{% endif %}

		<section id="elfi" class="aktiv">
			<h2>Dr. med. vet. Elfriede Koppensteiner</h2>
		
			<div class="bottom_10px"></div>

			<ul>
				<li>Geboren in Gmünd, Niederösterreich</li>
				<li>6-jährige Ausbildung in Modedesign</li>
				<li>Studium &amp; Doktorrat an der Veterinärmedizinischen Universität Wien</li>
				<li>Assistenz in verschiedenen Kliniken, Ö, D, CH</li>
				<li>Ausbildung in klassischer Homöopathie seit 1992</li>
				<li>2003 Gründung der Tierarztpraxis Kaiserstrasse</li>
				<li>Vorträge bei ÖGVH, SIH, "Fortundweiterbildungfuertieraerzte"</li>
			</ul>

			<!-- figure>
				<img class="team-img-left" src="/img/elfi.jpg" alt="Elfi">
			</figure -->
		</section>


		<noscript>
			<div class="bottom_20px"></div>
		</noscript>

		{% if page.id == "mobile" %}
			<div class="bottom_20px"></div>
		{% endif %}

		<section id="gerold" class="aktiv">
			<h2>Mag. med. vet. Gerold Koppensteiner</h2>

			<div class="bottom_10px"></div>

			<ul>
				<li>Geboren in Gmünd, Niederösterreich</li>
				<li>Matura BRG Gmünd</li>
				<li>Studium an der Veterinärmedizinischen Universität Wien</li>
				<li>Assistenz in verschiedenen Tierarztpraxen</li>
				<li>2003 Gründung der Tierarztpraxis Kaiserstrasse</li>
			</ul>

			<!-- figure>
				<img class="team-img-left" src="/img/gerold.jpg" alt="Gerold">
			</figure -->
		</section>

	</article>
