<section id="weichteilchirurgie" class="schulmedizin">
	<ul>
		Für <span class="fbold">Operationen</span> verwenden wir schonende Narkosemittel, Inhalationsgerät und eine unterstützende Narkoseüberwachung. Wir führen folgende Operationen durch:
		<li>Kastrationen</li>
		<li>Kaiserschnitt</li>
		<li>Tumor</li>
		<li>Fremdkörper</li>
		<li>Blasensteine</li>
		<li>Milzentferung</li>
		<li>Wundversorgung</li>
		<li>etc.</li>
	</ul>

	<div class="bottom_20px"></div>
	
	<figure>
		<img src="img/katze_schildkroete_600x400.png" alt="Tiere">
	</figure>
</section>					
