---
layout: desktop
title: Schulmedizin
id: schulmedizin-digitales_roentgen
permalink: /schulmedizin-digitales_roentgen.html
---

  <article>
    
    {% include desktop-nav.html %}

    <figure id="center" class="image">
      <img src="/img/roentgen1.jpg" alt="Röntgen">

      <img src="/img/roentgen2.jpg" alt="Röntgen">
    </figure>

    <div id="right" class="description">
      {% include schulmedizin/_digitales_roentgen.html %}
    </div>

  </article>


  <script type="text/javascript">
    $(document).ready(function(){
        startSlider();
    });
  </script>
