---
layout: desktop
title: Schulmedizin
id: schulmedizin-labordiagnostik
permalink: /schulmedizin-labordiagnostik.html
---

  <article>
    
    {% include desktop-nav.html %}

    <figure id="center" class="image">
      <img src="/img/labor1.jpg" alt="Labor">

      <img src="/img/labor2.jpg" alt="Labor">

      <img src="/img/labor3.jpg" alt="Labor">
    </figure>

    <div id="right" class="description">
      {% include schulmedizin/_labordiagnostik.html %} 
    </div>

  </article>


  <script type="text/javascript">
    $(document).ready(function(){
        startSlider();
    });
  </script>
