---
layout: desktop
title: Schulmedizin
id: schulmedizin-weichteilchirurgie
permalink: /schulmedizin-weichteilchirurgie.html
---

  <article id="weichteilchirurgie">
    
    {% include desktop-nav.html %}

    <figure id="center" class="image">
      <img src="/img/chirurgie1.jpg" alt="Chirurgie">

      <img src="/img/chirurgie2.jpg" alt="Chirurgie">

      <img src="/img/chirurgie3.jpg" alt="Chirurgie">

      <img src="/img/chirurgie4.jpg" alt="Chirurgie">
    </figure>

    <div id="right" class="description">
      {% include schulmedizin/_weichteilchirurgie.html %} 
    </div>

  </article>


  <script type="text/javascript">
    $(document).ready(function(){
        startSlider();
    });
  </script>
