---
layout: desktop
title: Schulmedizin
id: schulmedizin-zahnhygiene
permalink: /schulmedizin-zahnhygiene.html
---

  <article>
    
    {% include desktop-nav.html %}

    <figure id="center" class="image">
      <img src="/img/zahnhygiene1.jpg" alt="Zahnhygiene">

      <img src="/img/zahnhygiene2.jpg" alt="Zahnhygiene">

      <img src="/img/zahnhygiene3.jpg" alt="Zahnhygiene">

      <img src="/img/zahnhygiene4.jpg" alt="Zahnhygiene">
      
      <img src="/img/zahnhygiene5.jpg" alt="Zahnhygiene">
      
      <img src="/img/zahnhygiene6.jpg" alt="Zahnhygiene">
    </figure>

    <div id="right" class="description">
      {% include schulmedizin/_zahnhygiene.html %} 
    </div>

  </article>


  <script type="text/javascript">
    $(document).ready(function(){
        startSlider();
    });
  </script>
