
    <div id="homoe-links">

      <div>
        <p class="fbold">Wien</p>

        <p>
          Dr. KERBL-SEIDELBERGER Elisabeth, <a href="http://www.kerbl-seidelberger.at" target="_blank">www.kerbl-seidelberger.at</a>
        </p>

        <div class="tiny-gap"></div>

        <p>
          Dr. VARKONYI Thomas, 1220 Steigenteschgasse 16, 0664/423 72 71
        </p>
      </div>

      <div class="small-gap"></div>

      <div>
        <p class="fbold">Mödling</p>

        <p>
          Dr. RISS Tabea, <a href="http://www.riss.co.at" target="_blank">www.riss.co.at</a>
        </p>
      </div>

      <div class="small-gap"></div>

      <div>
        <p class="fbold">Oberösterreich</p>

        <p>
          Dr. ABERMANN Christoph, Gmunden, <a href="http://www.hom-gmunden.com" target="_blank">www.hom-gmunden.com</a>
        </p>

        <div class="tiny-gap"></div>

        <p>
          Dr. HOFER Andrea, Linz, <a href="http://www.dr-andreahofer.at" target="_blank">www.dr-andreahofer.at</a>
        </p>

        <div class="tiny-gap"></div>

        <p>
          Dr. PEINBAUER Thomas, Linz, <a href="http://www.praxisnetz-homoeopathie.at" target="_blank">www.praxisnetz-homoeopathie.at</a>
        </p>

        <div class="tiny-gap"></div>

        <p>
          Dr. SCHIPFLINGER Guntmar, Linz, <a href="http://www.drschipflinger.at" target="_blank">www.drschipflinger.at</a>
        </p>
      </div>

      <div class="small-gap"></div>

      <div>
        <p class="fbold">Salzburg</p>
          
        <p>
          Dr. MEISINGER Alexander, Salzburg, <a href="http://www.dr-meisinger.com" target="_blank">www.dr-meisinger.com</a>
        </p>
      </div>

      <div class="small-gap"></div>

      <div>
        <p class="fbold">Vorarlberg</p>
          
        <p>
          Dr. CZUBA Claudia, Dornbirn Klaudiastraße 6/4, 0664/282 02
        </p>

        <div class="tiny-gap"></div>

        <p>
          Dr. RIESNER Georg, Dornbirn, <a href="http://www.homeopathie-dornbirn.at" target="_blank">www.homeopathie-dornbirn.at</a>
        </p>
      </div>

      <div class="small-gap"></div>

      <div>
        <div class="fbold">Liechtenstein</div>

        <p>
          Dr. PUSCHKARSKI Matthias, Vaduz, <a href="http://www.puschkarski.com" target="_blank">www.puschkarski.com</a>
        </p>
      </div>

    </div>
