
    <div id="homoe-links">
      <div>
        <div class="fbold">Wien</div>

        <div>Dr. KERBL-SEIDELBERGER Elisabeth, <a href="http://www.kerbl-seidelberger.at" target="_blank">www.kerbl-seidelberger.at</a></div>

        <div class="tiny-gap"></div>

        <div>Dr. VARKONYI Thomas, 1220 Steigenteschgasse 16, 0664/423 72 71</div>
      </div>

      <div class="small-gap"></div>

      <div>
        <div class="fbold">Mödling</div>

        <div>Dr. RISS Tabea, <a href="http://www.riss.co.at" target="_blank">www.riss.co.at</a></div>
      </div>

      <div class="small-gap"></div>

      <div>
        <div class="fbold">Oberösterreich</div>

        <div>Dr. ABERMANN Christoph, Gmunden, <a href="http://www.hom-gmunden.com" target="_blank">www.hom-gmunden.com</a></div>

        <div class="tiny-gap"></div>

        <div>Dr. HOFER Andrea, Linz, <a href="http://www.dr-andreahofer.at" target="_blank">www.dr-andreahofer.at</a></div>

        <div class="tiny-gap"></div>

        <div>Dr. PEINBAUER Thomas, Linz, <a href="http://www.praxisnetz-homoeopathie.at" target="_blank">www.praxisnetz-homoeopathie.at</a></div>

        <div class="tiny-gap"></div>

        <div>Dr. SCHIPFLINGER Guntmar, Linz, <a href="http://www.drschipflinger.at" target="_blank">www.drschipflinger.at</a></div>
      </div>

      <div class="small-gap"></div>

      <div>
        <div class="fbold">Salzburg</div>
          
        <div>Dr. MEISINGER Alexander, Salzburg, <a href="http://www.dr-meisinger.com" target="_blank">www.dr-meisinger.com</a></div>
      </div>

      <div class="small-gap"></div>

      <div>
        <div class="fbold">Vorarlberg</div>
          
        <div>Dr. CZUBA Claudia, Dornbirn Klaudiastraße 6/4, 0664/282 024</div>

        <div class="tiny-gap"></div>

        <div>Dr. RIESNER Georg, Dornbirn, <a href="http://www.homeopathie-dornbirn.at" target="_blank">www.homeopathie-dornbirn.at</a></div>
      </div>

      <div class="small-gap"></div>

      <div>
        <div class="fbold">Liechtenstein</div>

        <div>Dr. PUSCHKARSKI Matthias, Vaduz, <a href="http://www.puschkarski.com" target="_blank">www.puschkarski.com</a></div>
      </div>
    </div>
