  <div class="description">
    <h2>Unterschied zur Schulmedizin</h2>

    <div class="spacer"><img src="/img/horizontal-line.png" alt=""></div>

    <p>
      In einem ausführlichen Erstgespräch wer&shy;de ich die Krankheitssymptome er&shy;fas&shy;sen. 
      Ich berücksichtige bei ihrem Tier die Haupt&shy;be&shy;schwerde und auch die all&shy;ge&shy;mei&shy;nen Ver&shy;haltens&shy;weisen, 
      wie Fress&shy;ver&shy;hal&shy;ten, Schlaf&shy;ver&shy;halten, Reaktion auf Wärme und Kälte, Spielverhalten und das Ver&shy;hal&shy;ten 
      mit an&shy;deren Tieren und Men&shy;schen, etc.
    </p> 

    <div class="small-gap"></div>

    <p>
      Anhand der berichteten körperlichen Be&shy;schwer&shy;den und allgemeinen Ver&shy;hal&shy;tens&shy;wei&shy;sen wird die passende Arznei (Ein&shy;zel&shy;mit&shy;tel) bestimmt. 
      Das Mittel stärkt das Im&shy;mun&shy;sys&shy;tem, steigert das All&shy;ge&shy;mein&shy;be&shy;fin&shy;den und heilt die bestehenden Be&shy;schwer&shy;den.
    </p>
  </div>