

  <div class="inner-description">
    <h2>Heilen durch Homöopathie</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Die Homöopathie ist eine natürliche, ganz&shy;heit&shy;li&shy;che Behandlungsmethode, die akute wie chronische Beschwerden heilen kann.
      Sie wurde vor über 200 Jahren vom deut&shy;schen Arzt Samuel Hahnemann (1755<wbr>-<wbr>1843) begründet.
    </p>

    <div class="small-gap"></div>

    <p>
      Als Tierärztin habe ich mich auf Ho&shy;mö&shy;opa&shy;thie spezialisiert und verfüge über eine fundierte Ausbildung auf dem Gebiet der klassischen Homöopathie 
      und mittlerweile auch über 15 Jahre Erfahrung in der ho&shy;mö&shy;opa&shy;thi&shy;schen Behandlung. 
    </p>
  </div>
