

		<h2>Heilen durch Homöopathie</h2>
		
		<div class="spacer"><img src="img/horizontal-line.png"></div>
		
		<p>
			Die Homöo<wbr>pathie ist eine natür<wbr>liche, ganz<wbr>heit<wbr>liche Be<wbr>hand<wbr>lungs<wbr>me<wbr>thode, die akute wie chro<wbr>nische Be<wbr>schwer<wbr>den heilen kann.
			Sie wurde vor über 200 Jahren vom deut<wbr>schen Arzt Samuel Hahnemann (1755-1843) be<wbr>gründet.
		</p>
		
		<div class="small-gap"></div>
		
		<p>
			Als Tier<wbr>ärztin habe ich mich auf Homöo<wbr>pathie speziali<wbr>siert und ver<wbr>füge über eine fundierte Aus<wbr>bildung auf dem Gebiet der klassi<wbr>schen Homöo<wbr>pathie 
			und mittler<wbr>weile auch über 10 Jahre Er<wbr>fah<wbr>rung in der homöo<wbr>pathi<wbr>schen Be<wbr>hand<wbr>lung. 
		</p>
