

  <div class="inner-description">
    <h2>Heilen durch Homöopathie</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Die Ho&shy;mö&shy;opa&shy;thie ist eine na&shy;tür&shy;li&shy;che, ganz&shy;heit&shy;li&shy;che Be&shy;hand&shy;lungs&shy;me&shy;tho&shy;de, die akute wie chro&shy;ni&shy;sche Be&shy;schwer&shy;den hei&shy;len kann.
      Sie wurde vor über 200 Jah&shy;ren vom deut&shy;schen Arzt Samuel Hahnemann (1755<wbr>-<wbr>1843) be&shy;grün&shy;det.
    </p>

    <div class="small-gap"></div>

    <p>
      Als Tier&shy;ärz&shy;tin habe ich mich auf Ho&shy;mö&shy;opa&shy;thie spe&shy;zia&shy;li&shy;siert und ver&shy;füge über eine fun&shy;dierte Aus&shy;bildung auf dem Ge&shy;biet der klas&shy;sisch&shy;en Ho&shy;mö&shy;opa&shy;thie 
      und mit&shy;tler&shy;weile auch über 10 Jahre Er&shy;fah&shy;rung in der ho&shy;mö&shy;opa&shy;thi&shy;schen Be&shy;han&shy;dlung. 
    </p>
  </div>
