	<section id="unterschied" class="aktiv">
		<!-- noscript -->
		<h2>Unterschied zur Schulmedizin</h2>
		
		<div class="bottom_10px"></div>
		<!-- /noscript -->

		<p>
			In einem ausführlichen Erstgespräch (homöopathische Anamnese) werde ich die individuellen Krankheitssymptome und Besonderheiten möglichst genau erfassen. Die Dauer des Erstgespräches und Untersuchung beträgt etwa 1½ Stunden und die der Folgegespräche etwa ½ Stunde, daher bitte ich Sie einen Termin zu vereinbaren. 
		</p>
		
		<div class="bottom_10px"></div>
		
		<p>
			Als Homöopathin berücksichtige ich bei ihrem Tier nicht nur die Hauptbeschwerde, sondern auch allgemeine Verhaltensweisen, wie Fressverhalten, Schlafverhalten, Reaktion auf Wärme, Kälte und Wetterwechsel, etc. Es wird nicht nur die Hauptbeschwerde, beispielsweise Durchfall behandelt, sondern das ganze Tier mit seinem Durchfall. So werde ich bei "5 Patienten mit Durchfall", durch die jeweiligen individuellen Symptome bei jedem Tier eine andere Arznei verschreiben.
		</p>
		
		<div class="bottom_10px"></div>
		
		<p>
			<img style="float: right; margin-top: 5px; padding: 0px 0px 5px 10px; width: 300px; height: 200px;" src="img/globuli_600x400.png" alt="Globuli">
			Die ausgewählte homöopathische Arznei passt zu all diesen Symptomen und verändert die Beschwerden zum Positiven hin.  Ebenso steigert es das Wohl- und Allgemeinbefinden und stärkt das Immunsystem insgesamt.
		</p>

		<div class="bottom_10px"></div>

		<p>
			Bei der homöopathischen Behandlung wird der Patient natürlich und ganzheitlich behandelt.
		</p>		

		<div class="bottom_10px"></div>

		<p style="clear: both;">
			Homöopathische Mittel haben gewöhnlich keine Nebenwirkungen.
		</p>
	</section>
