

  <div class="inner-description">
    <h2>Unterschied zur Schulmedizin</h2>

    <div class="spacer"><img src="img/horizontal-line.png"></div>

    <p>
      In einem aus<wbr>führlichen Erstg<wbr>espräch werde ich die indivi<wbr>duellen Krank<wbr>heits<wbr>symptome erfassen. 
      Ich berück<wbr>sichtige bei ihrem Tier nicht nur die Haupt<wbr>beschwerde, sondern auch allgemeine Verhaltens<wbr>weisen, 
      wie Fress<wbr>verhalten, Schlaf<wbr>verhalten, Reaktion auf Wärme und Kälte, Spiel<wbr>verhalten und das Verhalten 
      mit anderen Tieren und Menschen, etc.
    </p> 

    <div class="small-gap"></div>

    <p>
      Anhand der berichteten körper<wbr>lichen Beschwerden und allgemeinen Verhaltens<wbr>weisen wird die passende Arznei (Einzel<wbr>mittel) bestimmt. 
      Das Mittel stärkt das Immunsystem, steigert das Allgemein<wbr>befinden und heilt die bestehenden Beschwerden.
    </p>
  </div>
