<section id="unterschied">
	<!-- h2>Unterschied zur Schulmedizin</h2 -->

	<ul>
		<li>
			Die <span class="fbold">homöopathische Anamnese</span>, Erstgespräch und Untersuchung braucht mehr <span class="fbold">Zeit</span>, ca 1,5 Stunden, daher bitte ich Sie einen Termin zu vereinbaren.
		</li>
		<li>
			Als Homöopathin suche ich bei ihrem Tier seine individuellen Symptome und das entsprechende Mittel dazu, d.h. bei 5 Patienten mit Durchfall werde ich bei jedem eine andere Arznei verschreiben.
		</li>
		<li>
			Der Patient wird <span class="fbold">natürlich und ganzheitlich behandelt</span>.
		</li>
		<li>
			Es wird nicht nur das Symptom, beispielsweise Durchfall behandelt, sondern das ganze Tier. Dadurch kommt es zu umfassenden Regulierungsvorgänge, die zusätzlich das Wohl- und Allgemeinbefinden steigern und das Immunsystem insgesamt stärken.
		</li>
		<li>
			Homöopathische Mitteln haben gewöhnlich <span class="fbold">keine Nebenwirkungen</span>.
		</li>
	</ul>

	<div class="bottom_20px"></div>
	
	<figure>
		<img style="width: 320px; height: 240px" src="img/globuli_160x120.jpg" alt="Globuli">
	</figure>
</section>
