

		<h2>Was ist klassische Homöopathie?</h2>

		<div class="small-gap"></div>

		<p>
			Die Homöopathie ist eine natürliche, ganzheitliche Behandlungsmethode, die akute wie chronische Beschwerden beseitigen kann.<br>
			Sie wurde vor über 200 Jahren vom deutschen Arzt Samuel Hahnemann (1755-1843) begründet.
		</p>

		<div class="small-gap"></div>

		<p>
			Homöopathie heißt wörtlich übersetzt "ähnliches Leiden", demzufolge, soll das ausgewählte homöopathische Mittel ähnliche Symptome wie die, an denen das Tier leidet, haben. 
		</p>

		<div class="small-gap"></div>

		<p>
			Der Begriff Homöopathie wird häufig mit verschiedenen Heilmethoden,  wie beispielsweise Bachblüten, Schüsslersalze, Phytotherapie, Kinesiologie, Komplexmittel (Tropfen gegen Durchfall, Blasenentzündung, Schnupfen usw.) gleichgesetzt. 
			Diese unterschiedlichen Therapieformen haben jedoch mit den Grundlagen der Homöopathie nach Hahnemanns Lehre nichts zu tun. 
			So wird in der klassischen Homöopathie im Gegensatz zu den vielen anderen Richtungen immer nur ein Mittel nach dem individuellen Symptomenbild des Patienten verabreicht.
		</p>

		<div class="small-gap"></div>

		<p>
			Homöopathische Ausbildung:<br>
			Als Tierärztin habe ich mich auf Homöopathie spezialisiert und verfüge über eine fundierte Ausbildung auf dem Gebiet der klassischen Homöopathie und mittlerweile auch über 10 Jahre Erfahrung in der homöopathischen Behandlung. 
		</p>


