<section id="was_ist_homoeopathie" class="aktiv">
	<!-- h2>Was ist klassische Homöopathie?</h2 -->

	<p>	
		Die <span class="fbold">Homöopathie</span> ist eine natürliche, ganzheitliche Behandlungsmethode, die akute wie chronische Beschwerden beseitigen kann.
	</p>

	<div class="bottom_20px"></div>

	<p>
		Homöopathie, übersetzt "ähnliches Leiden", wurde vor über 200 Jahren vom deutschen Arzt Samuel Hahnemann (1755-1843) begründet und beruht auf dem <span class="fbold">Ähnlichkeitsprinzip</span>. Einfach gesagt, das homöopathische Mittel soll ähnliche Symptome aufweisen, wie der Mensch bzw. Tier zeigt.
	</p>
	
	<div class="bottom_20px"></div>
	
	<p>
		Der Begriff Homöopathie wird häufig mit unterschiedlichen Therapieformen gleichgesetzt,  wie beispielsweise Bachblüten, Schüsslersalze, Phytotherapie, Kinesiologie, Komplexmittel – Mischglobuli. Diese Behandlungsmethoden haben jedoch mit der klassischen Homöopathie nichts gemeinsam. In der Klassischen Homöopathie wird ein Einzelmittel verabreicht, welches möglichst ähnlich zum Mensch bzw. Tier mit seiner Krankheit passt. 
	</p>

	<div class="bottom_20px"></div>
	
	<figure>
		<img style="width: 300px; height: 400px" src="img/Samuel_Hahnemann_300x400.jpg" alt="Hahnemann">
	</figure>
</section>
