<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2"-->

    <title>{{ page.title }} | {{ site.title }}</title>

    {% seo title=false %}

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" media="all" href="/styles/nall.css">

    <link rel="stylesheet" media="screen and (min-width: 992px)" href="/styles/ndesktop.css">

    <link rel="stylesheet" media="screen and (max-width: 991px)" href="/styles/nmobile.css">

    <script src="/static/jquery-1.11.1.min.js"></script>

    <script src="/static/colorbox/jquery.colorbox-min.js"></script>

    <script src="/static/colorbox/jquery.colorbox-de.js"></script>

    <link rel="stylesheet" href="/static/colorbox/colorbox.css">

    <script src="/static/nivo-slider/jquery.nivo.slider.pack.js"></script>

    <link rel="stylesheet" href="/static/nivo-slider/nivo-slider.css">

    <script src="/static/custom.js"></script>

    {% if page.id == "anfahrt2" %}
      <link rel="stylesheet" href="/static/leaflet/leaflet.css">

      <script src="/static/leaflet/leaflet.js"></script>
    {% endif %}
  </head>

  <body>

    <div id="mobile-wrapper">
      {% include header.html %}

      {% include mobile-nav.html %}

      <div id="content">
        {% include desktop-nav.html %}

        {{ content }}
      </div>
    </div>

    <script>
      $(document).ready(function() {

        $("#nav-button").on("click",function(){
          $("#mobile-nav").toggle();
          return false;
        });

        var site = window.location.href.split("#")[0].split("/")[3].replace(".html", "");
        var sectionid = window.location.href.split("#")[1];
        if(sectionid){
          showSection(site, sectionid);
        }
        else{
          sectionid = $("article").children("section").first().attr("id");
          showSection(site, sectionid);
        }

      });
    </script>

  </body>
  
</html>
