<!DOCTYPE html>

<html lang="de">

	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="styles/all.css">

		<link rel="stylesheet" href="styles/desktop3.css">

		<link rel="stylesheet" href="scripts/colorbox/colorbox.css">
		
		<script src="scripts/jquery-1.8.2.min.js"></script>
			
		<script src="scripts/jquery.slider.js"></script>
			
		<script src="scripts/custom.js"></script>
		
		<script src="scripts/colorbox/jquery.colorbox.js"></script>
	 
		<script src="scripts/colorbox/jquery.colorbox-de.js"></script>

		<!--[if lt IE 9]>
			<script src="scripts/html5shiv.js"></script>
		<![endif]-->

		<script>
			$(document).ready(function() {
				selMenueItemActiv();

				showSection();
			});
		</script>

		<title> {{ page.title }} </title>
	</head>

	<body id="{{ page.id }}">
		{% include header.html %}

		<div id="content-wrapper">

			<div class="div-table">
				<div class="div-row">

					<div id="navigation" class="div-cell">
						{% include navigation.html %}
					</div>

					<div id="content" class="div-cell">
						{{ content }}
					</div>

				</div>
			</div>

		</div>
	</body>
</html>

