<!DOCTYPE html>

<html lang="de">

	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="styles/desktop.css">
        
        <link rel="stylesheet" href="styles/grid.css">

		<link rel="stylesheet" href="scripts/colorbox/colorbox.css">
		
		<script src="scripts/jquery-1.8.2.min.js"></script>
			
		<script src="scripts/jquery.slider.js"></script>
			
		<script src="scripts/custom.js"></script>
		
		<script src="scripts/colorbox/jquery.colorbox.js"></script>
	 
		<script src="scripts/colorbox/jquery.colorbox-de.js"></script>
		
		<!-- script src="scripts/detectmobilebrowser.js"></script -->

		<!--[if lt IE 9]>
			<script src="scripts/html5shiv.js"></script>
		<![endif]-->

		<script>
			$(document).ready(function() {

				selMenueItemActiv();

				showSection();

			});
		</script>

		<title> {{ page.title }} </title>
	</head>

	<body id="{{ page.id }}">
		<div class="big-gap"></div>

		{% include header.html %}

		<div class="huge-gap"></div>

		<div id="content-wrapper">

			<div class="grid-64">
				<div class="grid-64-row">
                    
                    {% if page.subnav %}
                        <div class="grid-64-cols_12">
                            {% include {{page.subnav}} %}
                        </div>                        
                        
                        <div class="grid-64-cols_1 vertical-dotted-line">
                        </div>
                        
                        <div class="grid-64-cols_36">
                            {{ content }}
                        </div>
                    {% else %}
                        <div class="grid-64-cols_49">
                            {{ content }}
                        </div>
                    {% endif %}
                    
                    <div class="grid-64-cols_1 vertical-dotted-line">
                    </div>                                        

					<div class="grid-64-cols_14">
						{% include kontakt.html %}
					</div>

				</div>
			</div>

		</div>
	</body>
</html>

