<!DOCTYPE html>

<html lang="de">

	<head>
		<meta charset="utf-8">

		<!-- meta name="viewport" content="width=device-width" / -->

		<link rel="stylesheet" href="styles/all.css">

		<link rel="stylesheet" media="only screen and (max-width: 647px)" href="styles/small.css" />

		<link rel="stylesheet" media="only screen and (min-width: 648px) and (max-width: 999px)" href="styles/medium.css" />

		<link rel="stylesheet" media="only screen and (min-width: 1000px)" href="styles/desktop.css" />

		<link rel="stylesheet" href="scripts/colorbox/colorbox.css">
		
		<script src="scripts/jquery-1.11.1.min.js"></script>
			
		<script src="scripts/jquery.slider.js"></script>
			
		<script src="scripts/custom.js"></script>
		
		<script src="scripts/colorbox/jquery.colorbox.js"></script>
	 
		<script src="scripts/colorbox/jquery.colorbox-de.js"></script>

		<!--[if lt IE 9]>
			<script src="scripts/html5shiv.js"></script>
		<![endif]-->

		<script>
			$(document).ready(function() {
				selMenueItemActiv();

				showSection();

        $('a.gallery').colorbox({rel:"gal", innerWidth: function(){
          var WinWidth = $( window ).width();
          if(WinWidth < 640){
            return "260px"; 
          }
          else{
            return "400px";
          }
        }});

			});
		</script>

		<title> {{ page.title }} </title>
	</head>

	<body id="{{ page.id }}">

		{% include header.html %}

		<div id="wrapper">
      <div id="inner-wrapper">
        <div id="most-inner-wrapper">
          <div id="navigation">
            {% include navigation.html %}
          </div>
          <div id="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

	</body>
</html>

