<!DOCTYPE html>

<html lang="de">

	<head>
		<meta charset="utf-8">

		<!-- meta name="viewport" content="width=device-width" / -->

		<link rel="stylesheet" href="styles/all.css">

		<link rel="stylesheet" media="only screen and (max-width: 639px)" href="styles/small.css" />

		<link rel="stylesheet" media="only screen and (min-width: 640px) and (max-width: 959px)" href="styles/medium.css" />

		<link rel="stylesheet" media="only screen and (min-width: 960px)" href="styles/desktop.css" />

		<link rel="stylesheet" href="scripts/colorbox/colorbox.css">
		
		<script src="scripts/jquery-1.8.2.min.js"></script>
			
		<script src="scripts/jquery.slider.js"></script>
			
		<script src="scripts/custom.js"></script>
		
		<script src="scripts/colorbox/jquery.colorbox.js"></script>
	 
		<script src="scripts/colorbox/jquery.colorbox-de.js"></script>

		<!--[if lt IE 9]>
			<script src="scripts/html5shiv.js"></script>
		<![endif]-->

		<script>
			$(document).ready(function() {
				selMenueItemActiv();

				showSection();

        $( "input#hintergrundfarbe" ).click(function() {
          var inputValue = $( this ).val();
          $( "body" ).css("background-color", inputValue ); 
        });

        $( "input#wrapper-hintergrundfarbe" ).click(function() {
          var inputValue = $( this ).val();
          $( "#wrapper" ).css("background-color", inputValue ); 
        });

        $( "input#schriftfarbe" ).click(function() {
          var inputValue = $( this ).val();
          $( "*" ).css("color", inputValue ); 
        });

        $( "input#schriftart" ).click(function() {
          var inputValue = $( this ).val();
          $( "*" ).css("font-family", inputValue ); 
        });

        $( "input#schriftgroeße_header" ).click(function() {
          var inputValue = $( this ).val();
          $( "header a" ).css("font-size", inputValue ); 
        });

        $( "input#schriftgroeße_nav" ).click(function() {
          var inputValue = $( this ).val();
          $( ".menu-item > a" ).css("font-size", inputValue ); 
        });

        $( "input#schriftgroeße_subnav" ).click(function() {
          var inputValue = $( this ).val();
          $( ".submenu-item a" ).css("font-size", inputValue ); 
        });

        $( "input#schriftgroeße_inhalt_ueberschrift" ).click(function() {
          var inputValue = $( this ).val();
          $( "#content h2" ).css("font-size", inputValue ); 
        });

        $( "input#schriftgroeße_inhalt" ).click(function() {
          var inputValue = $( this ).val();
          $( "#content div" ).css("font-size", inputValue ); 
          $( "#content td" ).css("font-size", inputValue ); 
          $( "#content p" ).css("font-size", inputValue ); 
          $( "#content li" ).css("font-size", inputValue ); 
          $( "#content a" ).css("font-size", inputValue ); 
        });

			});
		</script>

		<title> {{ page.title }} </title>
	</head>

	<body id="{{ page.id }}">

		{% include header.html %}

		<div id="wrapper">
      <div class="div-table">
        <div class="div-row">
          <div id="navigation" class="div-cell">
            {% include navigation.html %}
          </div>
          <div id="content" class="div-cell">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    
			<div id="custom">
				<form name="set-hintergrundfarbe">
					<div class="div-cell" style="width: 200px;">
						Hintergrundfarbe: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="hintergrundfarbe" type="text" name="hintergrundfarbe" size="10" maxlength="30">
					</div>
				</form>

				<form name="set-wrapper-hintergrundfarbe">
					<div class="div-cell" style="width: 200px;">
						Wrapper Hintergrundfarbe: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="wrapper-hintergrundfarbe" type="text" name="wrapper-hintergrundfarbe" size="10" maxlength="30">
					</div>
				</form>

				<form name="set-schriftfarbe">
					<div class="div-cell" style="width: 200px;">
						Schriftfarbe: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="schriftfarbe" type="text" name="schriftfarbe" size="10" maxlength="30">
					</div>
				</form>

				<form name="set-schriftart">
					<div class="div-cell" style="width: 200px;">
						Schriftart: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="schriftart" type="text" name="schriftart" size="10" maxlength="30">
					</div>
				</form>

				<form name="set-schriftgroeße_header">
					<div class="div-cell" style="width: 200px;">
						Schriftgröße Header: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="schriftgroeße_header" type="text" name="schriftgroeße_header" size="10" maxlength="30">
					</div>
				</form>

				<form name="set-schriftgroeße_nav">
					<div class="div-cell" style="width: 200px;">
						Schriftgröße Nav: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="schriftgroeße_nav" type="text" name="schriftgroeße_nav" size="10" maxlength="30">
					</div>
				</form>

				<form name="set-schriftgroeße_subnav">
					<div class="div-cell" style="width: 200px;">
						Schriftgröße Subnav: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="schriftgroeße_subnav" type="text" name="schriftgroeße_subnav" size="10" maxlength="30">
					</div>
				</form>

				<form name="set-schriftgroeße_inhalt_ueberschrift">
					<div class="div-cell" style="width: 200px;">
						Schriftgröße Inhalt Übers.: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="schriftgroeße_inhalt_ueberschrift" type="text" name="schriftgroeße_inhalt_ueberschrift" size="10" maxlength="30">
					</div>
					</div>
				</form>

				<form name="set-schriftgroeße_inhalt">
					<div class="div-cell" style="width: 200px;">
						Schriftgröße Inhalt: 
					</div>
					<div class="div-cell" style="width: 150px;">
						<input id="schriftgroeße_inhalt" type="text" name="schriftgroeße_inhalt" size="10" maxlength="30">
					</div>
					</div>
				</form>
			</div>

	</body>
</html>

