<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/html5reset.css"></link>
        <link rel="stylesheet" href="/styles/responding.css"></link>
        <link rel="stylesheet" href="/scripts/colorbox/colorbox.css"></link>

        <script type="text/javascript" src="/scripts/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/scripts/colorbox/jquery.colorbox.js"></script>

        <title>{{ page.title }}</title>
    </head>

    <body>
        <script>
                $(document).ready(function(){
                    $('a.gallery').colorbox({rel: 'grp1', maxWidth:'100%', slideshow: false });
                });
        </script>
        
        <div id="wrapper">
            <header>
                <div class="grid">
                    <div class="row_5_of_12">
                        <a href="index.html"><img id="logo" src="/img2/logo.jpg"" alt="Erzieherin Schmitt"></a>
                    </div>
                    <div class="row_7_of_12">
                        <h1>Erzieherin Schmitt</h1>
                    </div>
                </div>
            </header>

            <nav>
                <ul>
                    <li><a href="index.html">Willkommen</span></a></li>
                    <li><a href="dienstleistungen.html">Dienstleistungen</a></li>
                    <li><a href="rohrstock.html">Rohrstockkur</a></li>
                    <li><a href="korrespondez.html">Korrespondez</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>

            <div id="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>


