<!DOCTYPE html>


<html lang="de">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/styles/guestall.css">

        <link rel="stylesheet" media="only screen and (max-width: 639px)" href="styles/guestsmall.css">

        <link rel="stylesheet" media="only screen and (min-width: 640px)" href="styles/guestmedium.css">

        <script src="/scripts/jquery-1.11.1.min.js"></script>

        <title> {{ page.title }} </title>

    </head>

    <body>
        {% include guest.html %}

        <div id="content-wrapper">
            {{ content }}
        </div>
    </body>
</html>

