<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../styles/london.css" />

    <link rel="stylesheet" href="../scripts/colorbox/colorbox.css">
    
    <script src="../scripts/jquery-1.11.1.min.js"></script>
    
    <script src="../scripts/colorbox/jquery.colorbox.js"></script>
   
    <script src="../scripts/colorbox/jquery.colorbox-de.js"></script>

    <!--[if lt IE 9]>
      <script src="../scripts/html5shiv.js"></script>
    <![endif]-->

    <script>
      $(document).ready(function() {
        $('a.gallery').colorbox({rel:"nofollow"});
      });
    </script>


  <title> {{ page.title }} </title>
  </head>

  <body id="{{ page.id }}">

    <header>
        <h1>London 2015</h1>

        <a class="gallery" href="../img/clemens.png"><img src="../img/clemens.png" class="fellows"></a>
        <a class="gallery" href="../img/markus.png"><img src="../img/markus.png" class="fellows"></a>
        <a class="gallery" href="../img/richard.png"><img src="../img/richard.png" class="fellows"></a>

        <img src="../img/union_jack.png">

        <a class="gallery" href="../img/andi.png"><img src="../img/andi.png" class="fellows"></a>
        <a class="gallery" href="../img/manfred.png"><img src="../img/manfred.png" class="fellows"></a>
        <a class="gallery" href="../img/didi.png"><img src="../img/didi.png" class="fellows"></a>
    </header>

    <div id="wrapper">
      {{ content }}
    </div>

  </body>
</html>

