<!DOCTYPE html>

<html lang="de">

	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="../styles/london.css" />

		<script src="../scripts/jquery-1.11.1.min.js"></script>

		<!--[if lt IE 9]>
			<script src="../scripts/html5shiv.js"></script>
		<![endif]-->

	<title> {{ page.title }} </title>
	</head>

	<body id="{{ page.id }}">

		<header>
        <h1>London 2015</h1>

        <img src="../img/clemens.png" class="fellows">
        <img src="../img/markus.png" class="fellows">
        <img src="../img/richard.png" class="fellows">

        <img src="../img/union_jack.png">

        <img src="../img/andi.png" class="fellows">
        <img src="../img/manfred.png" class="fellows">
        <img src="../img/didi.png" class="fellows">
		</header>

		<div id="wrapper">
      {{ content }}
    </div>

	</body>
</html>

