<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | {{ site.title }}</title>

    {% seo title=false %}

    <link rel="shortcut icon" href="/favicon_32x32.png">
    
    <link rel="stylesheet" href="/styles/all.css" media="all">

    <link rel="stylesheet" href="/styles/small.css">
  </head>

  <body id="{{ page.id }}">

    {% include header.html %}

    <div id="wrapper">
      <div id="inner-wrapper">
        <div id="most-inner-wrapper">
          <div id="navigation">
            {% include navigation.html %}
          </div>
          <div id="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <script src="/static/jquery-1.11.1.min.js"></script>

    <!-- script src="/static/custom.js"></script -->

    <script>
      $(document).ready(function() {
        function selMenueItemActiv(){
          var bodyid = $("body").attr("id");
          var stringarr = bodyid.split('-');
          var divitem = $("#nav_" + stringarr[0]);
          divitem.find('a:first-child').css('font-weight', 'bold');
          var subitems = divitem.children('div.submenu-item');
          $('nav a#nav_' + stringarr[1]).addClass("nav-aktiv");
          subitems.addClass('aktiv');
        }
        selMenueItemActiv();
      });
    </script>

  </body>
  
  
</html>
