<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | {{ site.title }}</title>

    {% seo title=false %}

    <link rel="shortcut icon" href="/favicon_32x32.png">
    
    <link rel="stylesheet" href="/styles/all.css" media="all">

    <link rel="stylesheet" href="/styles/mobile.css" media="all">
  </head>

  <body id="{{ page.id }}">

    <div id="mobile-wrapper">
      {% include mobile-header.html %}
      
      {% include mobile-nav.html %}

      <div id="mobile-content">
        {{ content }}
      </div>
    </div>

    <script src="/static/jquery-1.11.1.min.js"></script>

    <script>
        $("#nav-button").on("click",function(){
          if(window.matchMedia("(min-width: 640px)").matches) {
            $("#nav-item-vollversion").removeClass('non-active').addClass('active');
          }
          $("#mobile-nav").toggle();
          return false;
        });
    </script>

  </body>
  
</html>
