/* CSS for all width's */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: "'Segoe UI', 'Calibri', 'Courier New'";
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #395858; /* #735552; */
	-webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background-color: #FFE09E; 
	background-attachment: scroll; background-repeat: repeat-x;
  /* height: 101%; */
}

h1 {
	font-size: 20px;
	line-height: 24px;
}

h2 { 
	font-size: 18px; 
	line-height: 22px; 
}

a, a:link, a:visited, a:active, a:focus {
	text-decoration: none;
	color: #735552;
}

a:hover {
	color: #B22222;
}

li {
	list-style-image: url("../img/listitem.png");
	margin-left: 20px;
	text-align: left;
}

img {
	display: block;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
}

.div-table {
	display: table;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.div-row {
	display: table-row;
	width: 100%;
	height: 100%;
}

.div-cell {	
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.fbold {
	font-weight: bold;
}

.fitalic {
	font-style: italic;
	letter-spacing: 1px;
}

.bottom_line {
	border-bottom-width: 1px;
	border-style: solid;
}

.top_dots {
	border-top-width: 1px;
	border-style: dotted;
}

.right_dots {
	border-right-width: 1px;
	border-style: dotted;
}

.bottom_dots {
	border-bottom-width: 1px;
	border-style: dotted;
}

.left_dots {
	border-left-width: 1px;
	border-style: dotted;
}

.small-gap {
	padding-bottom: 10px;
}

.gap {
	padding-bottom: 20px;
}

.huge-gap {
	padding-bottom: 30px;
}

header {
	padding: 10px 0px 20px 0px;
	margin: 20px 0px 20px 0px;
	background-repeat: no-repeat;
	margin: auto;
}

header img {
	width: 80px;
	text-align: center;
	margin: auto;
}

header h1, header h1 a {
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	text-decoration: underline;
}

header a:hover {
	color: #735552;
}

header p, header p a {
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	font-style: italic;
}

.inaktiv {
	display: none;
}

.aktiv {
	display: block;
}

section {
	display: none;
	text-align: justify;
}

section.aktiv {
	display: block;
}

section h1, section h2 {
	text-align: left;
	font-style: italic;
}

section#section-index {
	position: relative;
}

section#section-index > div {
	position: absolute; 
	width: 100%;
}

section#section-index h1 {
	background-color: white;
	opacity: 0.6; 
	text-align: center; 
	margin: auto;
}

section#section-index figure {
	margin: auto; 
	border: solid grey 1px;
}

section#section-index figure img {
	width: 100%;
}

article#article-kontakt h1, 
article#article-kontakt h2, 
article#article-kontakt p {
	text-align: left;
}

.spacer {
	padding: 16px 0px 16px 0px;
}

section .spacer {
	padding: 12px 0px 20px 0px;
}

.spacer img {
	width: 40px;
	height: 1px;
}

nav {
	padding: 0px 0px 0px 0px;
	text-align: left;
}

nav a {
	color: black;
	font-size: 14px;
	line-height: 16px;
}

nav a:hover {
	background-color: transparent;
	color: #B22222;
}

nav a.nav-aktiv  {
	color: #B22222;
}

nav a.nav-aktiv:hover {
	background-color: transparent;
	color: #B22222;
}

nav .menu-item {
	padding: 20px 0px 0px 0px;
	text-align: left;
}

#nav_index {
	padding: 0px 0px 0px 0px;
}

nav .submenu-item {
	margin: 5px 0px 0px 10px;
	text-align: left;
	display: none;
}

nav .submenu-item * {
	font-size: 12px;
	line-height: 14px;
}

nav .submenu-item.aktiv {
	display: block;
}

