/* CSS for all width's */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    src: url('../fonts/OpenSans-Regular.woff');
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Helvetica, 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #395858;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #FFE394; /* #FFE09E; */
  /* height: 101%; */
}

body#schulmedizin {
  background-image: url("../img/bg_blue_paper.jpg");
}

body#homoeopathie {
  background-image: url("../img/bg2.png");
}


body#ernaehrung {
  background-image: url("../img/bg1.png");
}

h1 {
  font-size: 20px;
  line-height: 24px;
}

h2 { 
  font-size: 18px; 
  line-height: 22px; 
}

a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
}

li {
  list-style-image: url("../img/listitem.png");
  margin-left: 20px;
  text-align: left;
}

img {
  display: block;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

.div-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.div-row {
  display: table-row;
  width: 100%;
  height: 100%;
}

.div-cell {	
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.fbold {
  font-weight: bold;
}

.fitalic {
  font-style: italic;
  letter-spacing: 1px;
}

.small-gap {
  padding-bottom: 10px;
}

.gap {
  padding-bottom: 20px;
}

.huge-gap {
  padding-bottom: 30px;
}

header {
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
}

header img {
  width: 46px;
  text-align: center;
  margin: auto;
}

header h1, header h1 a {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-decoration: underline;
}

header p, header p a {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-style: italic;
}

#wrapper {
  background-color: #FFFFE8;
}

.inaktiv {
  display: none;
}

.aktiv {
  display: block;
}

section {
  display: none;
  text-align: justify;
}

section.aktiv {
  display: block;
}

section h1, section h2 {
  text-align: left;
  font-style: italic;
}

#section-index h1, 
#section-index h2, 
#section-index p {
  text-align: left;
}

.spacer {
  padding: 16px 0px 16px 0px;
}

section .spacer {
  padding: 12px 0px 20px 0px;
}

.spacer img {
  width: 40px;
  height: 1px;
}

#mainnav {
  height: 100%;
  padding: 0px 0px 0px 0px;
  text-align: left;
}

#mainnav a {
  font-size: 14px;
  line-height: 16px;
}

#mainnav a.nav-aktiv  {
  color: #B22222;
}

#mainnav .menu-item {
  padding: 20px 0px 0px 0px;
  text-align: left;
}

#mainnav .submenu-item {
  margin: 5px 0px 0px 10px;
  text-align: left;
  display: none;
}

#mainnav .submenu-item * {
  font-size: 12px;
  line-height: 14px;
}

#mainnav .submenu-item.aktiv {
  display: block;
}

.gal table, .gal4x4 table, .gal th, .gal4x4 th, .gal td, .gal4x4 td {
  border: 2px solid darkgray;
}

.gal table, .gal4x4 table {
  margin: 0 auto;
}
