/* CSS for all width's */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: 'Calibri', 'Courier New';
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: justify;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a, a:link, a:visited, a:active, a:focus {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #2F4F4F;
}

.fbold {
	font-weight: bold !important;
}

.fitalic {
	font-style: italic;
	letter-spacing: 1px;
}

.bottom_line {
	border-bottom-width: 1px;
	border-style: solid;
}

.top_dots {
	border-top-width: 1px;
	border-style: dotted;
}

.right_dots {
	border-right-width: 1px;
	border-style: dotted;
}

.bottom_dots {
	border-bottom-width: 1px;
	border-style: dotted;
}

.left_dots {
	border-left-width: 1px;
	border-style: dotted;
}

.small-gap {
	padding-bottom: 10px;
}

.gap {
	padding-bottom: 20px;
}

.huge-gap {
	padding-bottom: 30px;
}

.div-table {
	display: table;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.div-row {
	display: table-row;
	width: 100%;
	height: 100%;
}

.div-cell {	
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

a.internal-link {
	color: #1B61B6;
}

a.internal-link:hover {
	color: blue;
}

li {
	list-style-image: url("../img/listitem.png");
	/* list-style-position: inside; */
	margin-left: 20px;
}

