* {
	margin:0;
	padding:0;
	color:white;
}

#screen {
	margin:30px auto;
	width:960px;
}

#header {
	width:100%;
	background:black;
	margin-bottom: 2%;
	height:150px;
}

#subnav {
	float:left;
	width:20%;
	margin-right:2%;
	background:darkgray;
	min-height:800px;
}

#small-content {
	float:left;
	width:56%;
	margin-right:2%;
	background:darkred;
	min-height:800px;
}

#content {
	float:left;
	width:78%;
	margin-right:2%;
	background:darkred;
	min-height:800px;
}

#contact {
	float:left;
	width:20%;
	background:darkgray;
	min-height:800px;
}
