/* CSS for desktop */

html {
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
}

body {
	background-color: #FFCC66; /* #F5DEB3; #FFFCE4; #FFFACD; Wheat; #FFFFBB; */
	background-attachment: scroll; background-repeat: repeat-x; 
	max-width: 1024px;
	width: 1024px;
	height: 101%;
	margin: auto;
}

header {
	padding: 20px 0px 20px 0px;
	margin: 20px 0px 20px 0px;
	background-repeat: no-repeat;
	width: 1024px;
}

header h1 {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-decoration: underline;
}

header p {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}

#content-wrapper {
	margin-bottom: 20px;
	padding: 0px 16px 16px 16px;
	background-color: #FFECC5; /*#FFE09E; /* #FFFBD7; /* #FFFACD; */
	min-height: 540px;
	/* max-height: 540px;
	height: 540px; */
}

#navigation {
	width: 16%;
	padding: 10px 10px 10px 0px;
}

#navigation * {
	overflow: hidden !important;
}

#content {
	width: 84%;
}

.content1 {
	padding: 0px 10px 0px 10px;
	width: 62%;
}

.content2 {
	padding: 30px 10px 0px 10px;
	width: 38%;
}

.content2 h1, h2, h3 {
	text-align: left;
}

.index-content1 {
	padding: 0px 10px 0px 10px;
	width: 74%;
}

.index-content2 {
	padding: 30px 10px 0px 10px;
	width: 26%;
}

nav {
	padding: 0px 0px 0px 0px;
	text-align: left;
}

nav a {
	color: black;
	font-size: 18px;
	line-height: 20px;
}

nav a:hover {
	background-color: transparent;
	color: #2F4F4F;
}

nav a.nav-aktiv  {
	color: #B22222;
}

nav a.nav-aktiv:hover {
	background-color: transparent;
	color: #2F4F4F;
}

nav .menu-item {
	padding: 20px 0px 0px 0px;
	text-align: left;
}

nav .submenu-item {
	margin: 5px 0px 0px 10px;
	text-align: left;
	display: none;
}

nav .submenu-item * {
	font-size: 14px;
	line-height: 16px;
}

nav .submenu-item.aktiv {
	display: block;
}

article#index h1 {
	text-align: center;	
}

.inaktiv {
	display: none;
}

.aktiv {
	display: block;
}

section {
	display: none;
}

section.aktiv {
	display: block;
}

#contact {
	padding: 20px 0px 0px 10px;
	width: 100%;
	text-align: left;
}

#contact * {
	text-align: left;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 { 
	font-size: 18px; 
	line-height: 24px; 
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

/*
li {
	margin-left: 15px;
	list-style-type: none;
}

ul.parkgaragen {
	list-style-type: none;
}

ul.parkgaragen li {
	padding: 0px 5px 0px 0px;
}
*/

img {
	width: 100%;
	display: block;
}

article#team ul, article#team li { 
	text-align: left;
}

section h2 {
	font-style: italic;
}

.spacer {
	padding: 15px 0px 35px 0px;
}

.spacer img {
	width: 40px;
	height: 1px;
}
