/* CSS for desktop */


#wrapper {
  width: 992px;
  height: 512px;
  margin: 0px auto;
  margin-bottom: 20px;
}

#inner-wrapper {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

#most-inner-wrapper {
  display: table-row;
  width: 100%;
  height: 100%;
}

#navigation {
  display: table-cell;
  vertical-align: top;
  width: 144px;
  height: 100%;
  padding: 28px 16px 16px 16px;
}

#content {
  display: table-cell;
  vertical-align: top;
  width: 816px;
  height: 512px;
}

figure.image {
  display: table-cell;
  vertical-align: top;
  width: 512px;
  height: 512px;
}

figure.medium-image {
  display: none;
}

figure.image > img {
  width: 512px;
  height: 512px;
}

.gal img{
  width: 168px;
  height: 168px;
}

.gal4x4 img{
  width: 126px;
  height: 126px;
}

.gal5x5 img{
  width: 100px;
  height: 100px;
}

.gal6x6 img{
  width: 83px;
  height: 83px;
}

.description {
  display: table-cell;
  vertical-align: top;
  width: 272px;
  height: 480px;
  max-height: 480px;
  padding: 28px 16px 0px 16px;
}

/* div.inner-description {
  width: 272px;
  height: 480px;
  max-height: 480px;
  overflow-y: auto;
} */

.telefon {
  display: table;
  border-collapse: collapse;
}

.telefon-row {
  display: table-row;
  page-break-inside: avoid;
}

.telefon-cell1 {
  display: table-cell;
  vertical-align: top;
}

.telefon-cell2 {
  display: table-cell;
  vertical-align: top;
}

.telefon-cell3 {
  display: table-cell;
  vertical-align: top;
}

.telefon-cell4 {
  display: table-cell;
  vertical-align: top;
}

