
html {
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 { 
	font-size: 18px; 
	line-height: 24px; 
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	/* width: 100%; */
}

li {
	margin-left: 15px;
	list-style-type: square;
}

ul.parkgaragen {
	list-style-type: square;
}

ul.parkgaragen li {
	float: left;
	padding: 0px 5px 0px 0px;
}

body {
	background-color: #FFCC66; /* #F5DEB3; #FFFCE4; #FFFACD; Wheat; #FFFFBB; */
	background-attachment: scroll; background-repeat: repeat-x; 
	/*background: -webkit-linear-gradient(left top, #F5DEB3, #FFCC66);
	background: -o-linear-gradient(bottom right, #F5DEB3, #FFCC66);
	background: -moz-linear-gradient(bottom right, #F5DEB3´, #FFCC66);
	background: linear-gradient(to bottom, #F5DEB3, #FFCC66); */
	max-width: 1024px;
	width: 1024px;
	height: 101%;
	margin: auto;
}

header {
	padding: 20px 0px 20px 0px;
	margin: 20px 0px 20px 0px;
	/* background-color: #FFFACD; /* #FFFBD7; */
	/* background-image: url(img/banner10.png); */
	background-repeat: no-repeat;
	width: 1024px;
	/* height: 128px; */
}

header h1 {
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-decoration: underline;
}

header p {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}

#content-wrapper {
	margin-bottom: 20px;
	padding: 0px 16px 0px 16px;
	background-color: #FFFBD7; /* #FFFACD; */
	max-height: 540px;
	height: 540px;
}

#navigation {
	width: 18%;
	padding: 10px 10px 10px 0px;
/*	background-color: #FFFAF0; */
}

#navigation * {
	overflow: hidden !important;
}

#content {
	width: 82%;
}

#mainnav {
	padding: 0px 0px 0px 0px;
	text-align: left;
}

nav a {
	color: black;
	font-size: 18px;
}

nav a:hover {
	background-color: transparent;
	color: #2F4F4F;
}

nav a.nav-active, a.nav-active  {
	color:  #B22222;
}

nav a.nav-active:hover {
	background-color: transparent;
	color: #2F4F4F;
}

.menu-item {
	padding: 20px 0px 0px 0px;
	text-align: left;
}

.submenu-item {
	margin: 5px 0px 0px 10px;
	text-align: left;
	font-size: 10px;
	line-height: 12px;
	display: none;
}

.submenu-item * {
	font-size: 14px;
	line-height: 16px;
}

.submenu-item.aktiv {
	display: block;
}

.index-content1 {
	padding: 0px 10px 0px 10px;
	width: 70%;
}

.index-content2 {
	padding: 0px 10px 0px 10px;
	width: 30%;
}

.content1 {
	padding: 0px 10px 0px 10px;
	width: 70%;
}

.content2 {
	padding: 10px 10px 0px 10px;
	width: 30%;
}

.content2 h1, h2, h3 {
	text-align: left;
}

.content1 img, .index-content1 img {
	width: 100%;
	display: block;
}

article#index figure {
	display: none;
}

article#index figure.aktiv {
	display: block;
}

article#index h1 {
	text-align: center;	
}

article#index img {
	width: 100%;
	height: auto;
	display: block;
}

#subcontent {
  /* width: 512px; */
	padding: 0px 0px 0px 16px;
}

.inaktiv {
	display: none;
}

.aktiv {
	display: block;
}

section {
	display: none;
}

section.aktiv {
	display: block;
}

#contact {
	padding: 20px 0px 0px 10px;
	width: 100%;
	text-align: left;
}

#contact * {
	text-align: left;
}

.akad-titel {
	font-size: 16px;
	line-height: 20px;
}
