/* CSS for desktop */


#wrapper {
	width: 992px;
  height: 512px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}

#navigation {
	width: 144px;
	height: 100%;
	max-height: 100%;
	padding: 28px 16px 16px 16px;
}

#content {
	width: 816px;
  height: 512px;
}

figure.image {
	display: table-cell;
	vertical-align: top;
	width: 512px;
	height: 512px;
}

figure.image > img {
	width: 512px;
	height: 512px;
}

div.description {
	display: table-cell;
	vertical-align: top;
	width: 272px;
	height: 480px;
	max-height: 480px;
  padding: 28px 16px 16px 16px;
}

div.description > div {
	max-height: 480px;
  overflow: visible; /* auto; */
}

section#section-index figure h1 {
	top: 464px;
	left: 0px; 
  margin: auto;
}

.telefon {
	display: table;
	border-collapse: collapse;
	/* height: 100%; */
}

.telefon-row {
	display: table-row;
	/* height: 100%; */
}

.telefon-cell1 {
	display: table-cell;
	vertical-align: top;
	/* height: 100%; */
}

.telefon-cell2 {
	display: table-cell;
	vertical-align: top;
	/* height: 100%; */
}

.telefon-cell3 {
	display: table-cell;
	vertical-align: top;
	/* height: 100%; */
}

.telefon-cell4 {
	display: table-cell;
	vertical-align: top;
	/* height: 100%; */
}

a.gallery img{
	width: 170px;
	height: 170px;
}

#kontakt {
  width: 80%;
  margin: 0 auto;
}
