/* CSS for desktop */

#wrapper {
	/* padding: 0px 16px 0px 16px; */
	background-color: #FFECC5;
	width: 1120px;
	height: 576px;
	max-height: 576px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}

#navigation {
	display: table-cell;
	vertical-align: top;
	width: 204px;
	height: 576px;
	padding: 10px 10px 10px 10px;
}

#navigation * {
	overflow: hidden !important;
}

#content {
	display: table-cell;
	vertical-align: top;
	width: 896px;
	height: 576px;
}

section figure img {
	float: left;
	width: 576px;
	height: 576px;
	padding: 0px 20px 0px 0px;
}


