/* CSS for desktop */

#wrapper {
	background-color: #FFECC5;
  width: 640px;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}

#navigation {
	display: table-cell;
	vertical-align: top;
	width: 152px;
	height: auto;
	padding: 10px 4px 10px 4px;
}

#navigation * {
	overflow: hidden !important;
}

#content {
	display: table-cell;
	vertical-align: top;
	width: 480px;
	height: auto;
}

section figure img {
	float: left;
	width: 240px;
	height: auto;
	padding: 0px 10px 4px 0px;
}
