/* custom css grid */

.grid-64 {
	display: table;
	width: 100%;
}

.grid-64-row {
	display: table-row;
	width: 100%;
}

.grid-64-cols_1, .grid-64-cols_2, .grid-64-cols_4, .grid-64-cols_6, 
.grid-64-cols_8, .grid-64-cols_10, .grid-64-cols_12, .grid-64-cols_13, 
.grid-64-cols_14, .grid-64-cols_15, .grid-64-cols_16, .grid-64-cols_18,
.grid-64-cols_20, .grid-64-cols_21, .grid-64-cols_22, .grid-64-cols_32, 
.grid-64-cols_35, .grid-64-cols_36, .grid-64-cols_44, .grid-64-cols_46, 
.grid-64-cols_48, .grid-64-cols_49, .grid-64-cols_50, .grid-64-cols_52, 
.grid-64-cols_54, .grid-64-cols_56, .grid-64-cols_58, .grid-64-cols_60, 
.grid-64-cols_62, .grid-64-cols_63, .grid-64-cols_64 {
	display: table-cell;
	vertical-align: top;
  width: 100%;
  overflow: hidden;
}

.grid-64-cols_1 {
	width: 1.5625%;
}

.grid-64-cols_2 {
	width: 3.125%;
}

.grid-64-cols_4 {
	width: 6.25%;
}

.grid-64-cols_6 {
	width: 9.375%;
}

.grid-64-cols_8 {
	width: 12.5%;
}

.grid-64-cols_10 {
	width: 15.625%;
}

.grid-64-cols_12 {
	width: 18.75%;
}

.grid-64-cols_13 {
	width: 20.3125%;
}

.grid-64-cols_14 {
	width: 21.875%;

}

.grid-64-cols_15 {
	width: 23.4375%;
}

.grid-64-cols_16 {
	width: 25%;
}

.grid-64-cols_18 {
	width: 28.125%;
}

.grid-64-cols_20 {
	width: 31.25%;
}

.grid-64-cols_21 {
	width: 32.8125%;
}

.grid-64-cols_22 {
	width: 34.375%;
}

.grid-64-cols_32 {
	width: 50%;
}

.grid-64-cols_35 {
	width: 54.6875%;
}

.grid-64-cols_36 {
	width: 56.25%;
}

.grid-64-cols_44 {
	width: 68.75%;
}

.grid-64-cols_46 {
	width: 71.875%;
}

.grid-64-cols_48 {
	width: 75%;
}

.grid-64-cols_49 {
	width: 76.5625%;
}

.grid-64-cols_50 {
	width: 78.125%;
}

.grid-64-cols_52 {
	width: 81.25%;
}

.grid-64-cols_54 {
	width: 84.375%;
}

.grid-64-cols_56 {
	width: 87.5%;
}

.grid-64-cols_58 {
	width: 90.625%;
}

.grid-64-cols_60 {
	width: 93.75%;
}

.grid-64-cols_62 {
	width: 96.875%;
}

.grid-64-cols_63 {
	width: 98.4375%;
}

.grid-64-cols_64 {
	width: 100%;
}

