body {
    width: 320px;
    min-width: 320px;
    height: auto;
    margin: 0px auto;
    margin-bottom: 10px;
}

#header_col1_2 {
    width: 80px;
}

#header_col2_2 {
    width: 240px;
    vertical-align: bottom;
}

#header_img {
    width: 80px;
}

article h1,
article h2,
article h3 {
    text-align: center;
    padding: 10px 10px 20px 10px;    
    margin: 10px 10px 10px 10px;
}

img.welcome {
    width: 120px;
    padding: 0px 10px 0px 10px;
}
