
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-weight: normal;
    font-size: 16px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    overflow-y:scroll
}

body {
    font-family: "Trebuchet MS", Copperplate, "Myriad Pro", Arial, sans-serif;
    color: #2B2B2B;
    background:url(img/background.png) top left;
    max-width: 900px;
    width: 900px;
    margin: auto;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

header h1 {
    padding: 10px 10px 10px 10px;
}

p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

a, 
a:link, 
a:visited,
a:active {
    color: #2B2B2B;
    text-decoration: none;
}

a:hover{
    color: darkgrey;
}

li {
    list-style-type: square;
    margin-left: 10px;
}

.fbold {
    font-weight: bold;
}

.gap {
    padding-bottom: 20px;
}

.twocols {
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    -moz-column-gap: 0px; /* Firefox */
    -webkit-column-gap: 0px; /* Safari and Chrome */
    column-gap: 0px;
}

header {
    background-color: Beige;
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 10px 20px;
}

#header_col1_2 {
    width: 120px;
    padding: 0px 20px 0px 0px;
}

#header_col2_2 {
    width: 760px;
    vertical-align: bottom;
}

#header_img {
    width: 120px;
    height: 120px;
}

#header_txt {
    padding: 0px 0px 0px 0px;
}

nav {
    margin: 40px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

nav hr{
    margin: 3px 0px 3px 0px;
    border: 0;
    height: 1px;
    color: #2B2B2B;
    background-color: #2B2B2B;
}

nav li {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    padding: 0px 30px 0px 0px;
}

nav li a, 
nav li a:link, 
nav li a:visited,
nav li a:active {
    color: #2B2B2B;
    text-decoration: none;
}

nav li a:hover{
    color: darkgrey;
}

#content-wrapper {
    background-color: Beige;
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 10px 20px;
}

article {
    text-align: justify;
}

article h1,
article h2,
article h3 {
    text-align: center;
    padding: 10px 10px 20px 10px;    
    margin: 10px 10px 10px 10px;
}

img.welcome {
    width: 320px;
    padding: 0px 10px 0px 10px;
}

.portrait {
    min-height: 200px;
    padding: 5px 5px 5px 5px;
    text-align: left;
}

.portrait img {
    width: 120px;
    height: 120px;
    padding: 5px 10px 5px 5px;
    float: left;
}


div.prevsite {
    text-align: left;
}

div.nextsite {
    text-align: left;
}

.governess, .mother, .boy, .comment {
    padding: 10px 10px 10px 10px;
    margin: 0px 5px 10px 5px;
}

.governess {
    background-color: LightGray;
}

.mother {
    background-color: PowderBlue;
}

.boy {
    background-color: PowderBlue;
}

.comment {
    background-color: lightgrey;
}

.div-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.div-row {
    display: table-row;
}

.div-cell {
    display: table-cell;
    vertical-align: top;
}
