body {
    font-family: "Trebuchet MS", Copperplate, "Myriad Pro", Arial, sans-serif;
    color: #2B2B2B;
    max-width: 900px;
    min-width: 240px;
    margin: auto;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

header {
    background-color: Beige;
    /* margin: 20px 0px 20px 0px;
    padding: 10px 20px 10px 20px; */
}

header h1 {
    /* padding: 10px 10px 10px 30px;
    vertical-align: middle; */
    font-size: 28px;
}

header img {
    width: 100%;
    min-width: 160px;
    max-width: 240px;
    /* padding: 10px 10px 10px 10px; */
}

p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

a, a:link, a:visited, a:active {
    color: #2B2B2B;
    text-decoration: none;
}

a:hover{
    color: darkgrey;
}

li {
    list-style-type: square;
    margin-left: 10px;
}

.fbold {
    font-weight: bold;
}

.gap {
    padding-bottom: 20px;
}

nav {
    margin: 40px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

nav hr{
    margin: 3px 0px 3px 0px;
    border: 0;
    height: 1px;
    color: #2B2B2B;
    background-color: #2B2B2B;
}

nav li {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    padding: 0px 30px 0px 0px;
}

nav li a, 
nav li a:link, 
nav li a:visited,
nav li a:active {
    color: #2B2B2B;
    text-decoration: none;
}

nav li a:hover{
    color: darkgrey;
}

#content-wrapper {
    background-color: Beige;
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 10px 20px;
}

article {
    text-align: justify;
}

article h1,
article h2,
article h3 {
    text-align: center;
    padding: 10px 10px 20px 10px;    
    margin: 10px 10px 10px 10px;
}

 article img {
    padding: 0px 10px 10px 0px;
    float: left; 
    width: 40%;
    min-width: 240px;
}

.flexbox-container {
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}
