/* CSS for medium */

* {
  /* text-align: center; */
}

#wrapper {
  width: 640px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}
#inner-wrapper {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

#most-inner-wrapper {
  display: table-row;
  width: 100%;
  height: 100%;
}

#navigation {
  display: table-cell;
  vertical-align: top;
  width: 136px;
  height: auto;
  padding: 16px 8px 8px 16px;
}

#mainnav {
  height: auto;
}

#nav_galerie {
  display: none;
}

#content {
  display: table-cell;
  vertical-align: top;
  width: 480px;
  height: auto;
}

figure.image {
  display: none;
}

.link-description {
  display: none;
}

.mobile-description {
  display: display;
}

figure.medium-image {
  display: display;
}

figure.medium-image > img {
  width: 288px;
  height: 288px;
}

.gal img{
  width: 93px;
  height: 93px;
}

.description {
  width: 476px;
  height: auto;
  padding: 8px 8px 8px 0px;
}

/* #kontakt {
  display: inline-block;
} */

.telefon {
}

.telefon-row {
  page-break-inside: avoid;
}

.telefon-cell1 {
}

.telefon-cell2 {
  float: left;
}

.telefon-cell3 {
  float: left;
}

.telefon-cell4 {
  padding-bottom: 16px;
}

#kontakt {
  width: 100%;
  margin: 0;
}
