
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf');
    src: url('/fonts/OpenSans-Regular.woff');
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
  font-family: Helvetica, 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #395858;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: White;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 4px 4px 4px 4px;
  text-align: center;
  color: #333;
  background-color: #E6E6E6;
  background-image: linear-gradient(top, white 0%, #E6E6E6 100%);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid darkgray;
  white-space: nowrap; 
}

#mobile-wrapper {
  margin: 0px auto;
  padding: 6px 0px;
  background-color: #FFE394;
  min-width: 320px;
  /* max-width: 640px; */
  border-radius: 6px;
}

#mobile-header, #mobile-nav, #mobile-content {
  padding: 10px 0px 10px 0px;
  margin: 6px 12px;
  background-color: #FFFFE8;
}

#mobile-header {
  position: relative;
  text-align: center;
  padding: 20px;
  border-radius: 6px 6px 0px 0px;
}

#mobile-header h1, #mobile-header h1 a {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
}

#mobile-header p, #mobile-header p a {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-style: italic;
}

#mobile-header img {
  text-align: center;
  margin: auto;
  width: 32px;
}

#nav-image {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

#mobile-nav {
  text-align: right;
  padding: 0px;
  display: none;
}

#mobile-nav ul {
  text-align: right;
  margin: 0px;
  padding: 0px;
}

#mobile-nav li {
  text-align: right;
  margin: 0px 0px 2px 0px;
  padding: 8px;
  background-color: LightBlue;
  list-style: none;
}

.fbold {
  font-weight: bold;
}

.fitalic {
  font-style: italic;
  letter-spacing: 1px;
}

.gap {
  padding-bottom: 20px;
}

.tiny-gap {
  padding-bottom: 4px;
}

.small-gap {
  padding-bottom: 10px;
}

.huge-gap {
  padding-bottom: 30px;
}

h1 {
  font-size: 20px;
  line-height: 24px;
}

h2 { 
  font-size: 18px; 
  line-height: 22px; 
}

a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
}

li {
  list-style-image: url("/img/listitem.png");
  margin-left: 20px;
  text-align: left;
}

img {
  display: block;
}

#mobile-content {
  padding: 20px;
  border-radius: 0px 0px 6px 6px;
}

figure.mobile-image {
  padding: 0px 8px 0px 8px;
}

figure.mobile-image img {
  width: 100%;
  margin: 0px auto;
}

.description {
  height: auto;
  padding: 16px 8px 8px 8px;
}

.description h1, .description h2 {
  font-style: italic;
}

.telefon{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 0px;
  padding: 0px; 
}

.oeffnungszeiten {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0px;
  padding: 0px; 
}

.spacer {
  padding: 16px 0px 16px 0px;
}

section .spacer {
  padding: 12px 0px 20px 0px;
}

.spacer img {
  width: 40px;
  height: 1px;
}

#homoe-links {
  padding: 10px;
}

#homoe-links a {
  color: DarkBlue;
}
