

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf');
    src: url('/fonts/OpenSans-Regular.woff');
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Helvetica, 'Open Sans';
  font-weight: normal;
}

body {
  font-size: 14px;
  line-height: 1.142;
}

h1 {
  font-size: 1.425rem; /*20px;*/
  line-height: 1.2; /*24px;*/
}

h2 { 
  font-size: 1.125rem; /*18px; */
  line-height: 1.222; /*22px; */
}

a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
}

ul{
  list-style-image: url("/img/listitem.png");
  margin-left: 1.25rem; /*20px;*/
}

nav ul{
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

img {
  display: block;
}

.fbold {
  font-weight: bold;
}

.fitalic {
  font-style: italic;
  letter-spacing: 0.063rem; /*1px;*/
}

.tiny-gap {
  padding-bottom: 0.25rem; /*4px;*/
}

.small-gap {
  padding-bottom: 0.625rem; /*10px;*/
}

.gap {
  padding-bottom: 1.25rem; /*20px;*/
}

.huge-gap {
  padding-bottom: 1.875rem; /*30px;*/
}

.spacer {
  padding: 1rem 0 1rem 0; /*16px 0px 16px 0px;*/
}

section .spacer {
  padding: 0.75rem 0 1.25 0; /* 12px 0 20px 0;*/
}

.spacer img {
  width: 2.5rem; /*40px;*/
  height: 0.063rem; /*1px;*/
}

.description h1, .description h2 {
  text-align: left;
  font-style: italic;
}

.telefon{
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 0;
  padding: 0; 
}

.oeffnungszeiten {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0;
  padding: 0; 
}

#homoe-links a {
  color: DarkBlue;
}

#news h1, #news h2, #news h3{
  padding-bottom: 0.625rem; /*10px;*/
  color: Red;
  font-size: 1.125rem; /*18px*/
}

.inactive{
  display: none;
}
