
* {
  text-align: justify;
  color: #395858;
}

body {
  background-color: #FFE394;
  height: 101%;
}

header {
  padding: 0.71rem 0 0.71rem 0; /*10px 0px 10px 0px;*/
  margin: 1.43rem auto 2.0rem auto; /*20px auto 28px auto;*/
}

header img {
  width: 3.29rem; /*46px;*/
  text-align: center;
  margin: 0 auto;
  display: block;
}

header h1, header h1 a {
  font-size: 1.71rem; /*24px;*/
  line-height: 1.0; /*24px;*/
  text-align: center;
  text-decoration: underline;
}

header p, header p a {
  font-size: 1.43rem; /*20px;*/
  line-height: 1.0; /*20px;*/
  text-align: center;
  font-style: italic;
}

#content {
  display: flex;
  justify-content: flex-start; /*space-between; */
  align-items: flex-start; /*stretch; baseline; */
  width: 70.86rem; /*992px;*/
  margin: 0 auto;
  margin-bottom: 1.43rem; /*20px;*/
  background-color: #FFFFE8;
  grid-gap: 0;
  padding: 0; 
}

article {
  width: 82.25%;
}

section {
  display: grid;
  grid-template-columns: 62.75% 37.25% /*512px 304px;*/
}

section figure {
  aspect-ratio: 1 / 1;
}

section figure img {
  width: 100%;
}

.description {
  padding: 2.0rem 1.14rem 0 1.14rem; /*28px 16px 0px 16px;*/
}

.description li {
  text-align: left;
}

#nav-button {
  display: none;
}

#mobile-nav {
  display: none;
}

#desktop-nav {
  width: 17.75%;
  height: 100%;
  padding: 2.0rem 1.14rem 1.14rem 1.14rem; /* 28px 16px 16px 16px;*/
  text-align: left;
}

a.nav-aktiv {
  color: #B22222;
}

.invisible {
  visibility: hidden;
}

.menu-item {
  padding: 1.43rem 0 0 0; /*20px 0px 0px 0px;*/
  text-align: left;
}

.menu-item * {
  font-size: 1.0rem; /*14px;*/
  line-height: 1.14; /*16px;*/
}

.submenu-item {
  margin: 0.36rem 0 0 0.71rem; /*5px 0px 0px 10px;*/
  text-align: left;
}

.submenu-item * {
  font-size: 0.86rem; /*12px;*/
  line-height: 1.17; /*14px;*/
}

.nicht-aktiv {
  display: none !important;
}

.aktiv {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  padding: 0;
  background-color: darkgray;
}

#homoe-links {
  aspect-ratio: 1 / 1;
  background-color: #FFD8A4;
  padding-top: 2.86rem; /*40px;*/
  padding-left: 2.86rem; /*40px;*/
}
