/* CSS for small */

body {
  background-color: White;
  height: auto;
}

* {
  text-align: left;
}

.btn {
  display: inline-block;
  padding: 4px 4px 4px 4px;
  text-align: center;
  color: #333;
  background-color: #E6E6E6;
  background-image: linear-gradient(top, white 0%, #E6E6E6 100%);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid darkgray;
  white-space: nowrap; 
}

#mobile-header, #mobile-nav, #mobile-content {
  margin: 6px 12px;
  background-color: #FFFFE8; /* Beige; */
}

#mobile-wrapper {
  margin: 0px auto;
  padding: 6px 0px;
  background-color: #FFE394;
  min-width: 320px;
  max-width: 640px;
}


#mobile-header h1, #mobile-header h1 a {
  font-size: 18px;
  line-height: 18px;
}

#mobile-header p, #mobile-header p a {
  font-size: 16px;
  line-height: 16px;
}

#mobile-header img {
  width: 32px;
}

#mobile-header {
  text-align: center;
  padding: 20px;
}

#nav-image {
  float: right;
  clear: all;
}

#mobile-nav {
  text-align: right !important;
  padding: 0px;
  display: none;
}

#mobile-nav ul {
  margin: 0px;
  padding: 0px;
}

#mobile-nav li {
  margin: 0px 0px 2px 0px;
  padding: 8px;
  background-color: LightBlue;
  list-style: none;
}

#mobile-content {
  padding: 20px;
}

figure.mobile-image img {
  width: 96%;
  #width: 288px;
  #height: 288px;
  margin: 0px auto;
}

.description {
  #width: 304px;
  height: auto;
  padding: 16px 8px 8px 8px;
}

.telefon {
  display: table;
  border-collapse: collapse;
  height: 100%;
}

.telefon-row {
  display: table-row;
  page-break-inside: avoid;
  height: 100%;
}

.telefon-cell1 {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.telefon-cell2 {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.telefon-cell3 {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.telefon-cell4 {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

#kontakt {
  width: 100%;
  margin: 0;
}
