/* CSS for small */

#wrapper {
	background-color: #FFECC5;
	width: 416px;
  height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

#navigation {
	width: 144px;
  height: auto;
	padding: 16px 8px 8px 8px;
}

#content {
	width: 256px;
  height: auto;
}

figure.image {
  display: none;
}

div.description {
	width: 240px;
	height: auto;
  padding: 16px 8px 8px 8px;
}

div.description ul {

}

section#section-index > div {
	top: 176px;
	left: 0px; 
}

section#section-index h1 {
	width: 256px; 
}

.telefon {
	display: table;
	border-collapse: collapse;
	height: 100%;
}

.telefon-row {
	display: table-row;
	height: 100%;
}

.telefon-cell1 {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.telefon-cell2 {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.telefon-cell3 {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.telefon-cell4 {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

