

			<h2>Dr. Elfriede Koppensteiner</h2>
		
			<div class="small-gap"></div>
			
			<p>
				Als engagierte, freundliche und einfühlsame Tierärztin lerne ich zuerst meine Patienten mit ihren Beschwerden und deren Tierhalter kennen. 
				Nach der Erstuntersuchung besprechen wir gemeinsam welche weitere Diagnostik und anschließende Therapien, ob Schulmedizin oder Homöopathie, erwünscht sind. 
				Durch meine umgängliche und wohlgesinnte Art fühlen sich die Tiere mit ihren Tierhalter in unserer Ordination sehr wohl.
			</p>
			
			<div class="small-gap"></div>
			
			<ul>
				<li>geboren in Gmünd, NÖ</li>
				<li>6-jährige Ausbildung in Modedesign</li>
				<li>Studium &amp; Doktorrat an der Veterinär-<br>medizinischen Universität Wien</li>
				<li>Assistenz in verschiedenen Kliniken, Österreich, Deutschland und Schweiz</li>
				<li>Ausbildung in klassischer Homöopathie <br>seit 1992</li>
				<li>2003 Gründung Tierarztpraxis Kaiserstrasse</li>
				<li style="word-break: break-all;">Vorträge bei ÖGVH, SIH, "Fortundweiterbildungfuertieraerzte"</li>
			</ul>
