

			<h2>Dr. Elfriede Koppensteiner</h2>
		
			<div class="spacer"><img src="img/horizontal-line.png"></div>
			
			<p>
				Als freundliche und einfühlsame Tier<wbr>ärztin lerne ich zuerst meine Patienten mit ihren Beschwerden und deren Tier<wbr>halter kennen. 
				Nach der Erst<wbr>unter<wbr>suchung besprechen wir gemeinsam welche weitere Dia<wbr>gnostik und anschließende Thera<wbr>pien, ob Schul<wbr>medizin oder Homöo<wbr>pathie, erwünscht sind. 
				Durch meine wohl<wbr>gesinnte Art fühlen sich die Tiere mit ihren Tier<wbr>halter in unserer Ordination sehr wohl.
			</p>
			
			<div class="small-gap"></div>
			
			<ul>
				<li>geboren in Gmünd, NÖ</li>
				<li>7-jährige Ausbildung in Modedesign</li>
				<li>Studium &amp; Doktorrat an der Veterinär<wbr>medizinischen Universität Wien</li>
				<li>Assistenz in verschiedenen Kliniken, Österreich, Deutschland und Schweiz</li>
				<li>Ausbildung in klassischer Homöo<wbr>pathie seit 1992</li>
				<li>2003 Gründung Tierarztpraxis Kaiserstrasse</li>
				<li>Vorträge bei ÖGVH, SIH, "Fort<wbr>und<wbr>weiterbildung<wbr>fuer<wbr>tier<wbr>aerzte"</li>
			</ul>
