

  <div class="inner-description">
    <h2>Dr. Elfriede Koppensteiner</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Als ein&shy;fühl&shy;same Tier&shy;ärztin lerne ich zuerst meine Pati&shy;enten mit ihren Be&shy;schwer&shy;den und de&shy;ren Tier&shy;hal&shy;ter ken&shy;nen. 
      Nach der Erst&shy;unter&shy;su&shy;chung be&shy;spre&shy;chen wir gemein&shy;sam welche wei&shy;tere Dia&shy;gnos&shy;tik und an&shy;schlie&shy;ßende Thera&shy;pien, ob Schul&shy;medi&shy;zin oder Homöo&shy;pa&shy;thie, er&shy;wünscht sind. 
      Durch meine wohl&shy;gesinnte Art füh&shy;len sich die Tiere mit ihren Tier&shy;halter in unserer Ordi&shy;nation sehr wohl.
    </p>

    <div class="small-gap"></div>

    <ul>
      <li>geboren in Gmünd, NÖ</li>
      <li>7-jährige Ausbildung in Modedesign</li>
      <li>Studium &amp; Doktorrat an der Vet.Med. Universität Wien</li>
      <li>Assistenz in verschiedenen Kliniken, Österreich, Deutschland und Schweiz</li>
      <li>Ausbildung in klassischer Homöopathie seit 1992</li>
      <li>2003 Gründung Tierarztpraxis Kaiserstrasse</li>
      <li>Vorträge bei ÖGVH, SIH, "Fort&shy;und&shy;weiter&shy;bildung&shy;fuer&shy;tier&shy;aerzte"</li>
    </ul>
  </div>
