
  <div class="inner-description">
    <h2>Mag. Gerold Koppensteiner</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Mit meiner humor&shy;vollen Art, fach&shy;lichem Wis&shy;sen und jahre&shy;langer Er&shy;fah&shy;rung in der Praxis führen wir ge&shy;mein&shy;sam unsere Ordi&shy;na&shy;tion. 
      Außer&shy;dem sind wir immer er&shy;reich&shy;bar für Not&shy;fälle.
    </p>

    <div class="small-gap"></div>

    <ul>
      <li>geboren in Gmünd, NÖ</li>
      <li>Matura BRG Gmünd</li>
      <li>Stu&shy;dium an der Vet.Med. Uni&shy;versi&shy;tät Wien</li>
      <li>Assistenz in ver&shy;schiede&shy;nen Tier&shy;arzt&shy;pra&shy;xen</li>
      <li>2003 Grün&shy;dung Tier&shy;arzt&shy;praxis Kaiser&shy;strasse</li>
    </ul>
  </div>
