
			<h2>Mag. Gerold Koppensteiner</h2>

			<div class="small-gap"></div>

			<p>
				Mit meiner humorvollen Art, fachlichem Wissen und jahrelanger Erfahrung in der Praxis führen wir gemeinsam unsere Ordination. 
				Außerdem sind wir immer erreichbar für Notfälle.
			</p>
			
			<div class="small-gap"></div>
			
			<p>Mag. Gerold Koppensteiner</p>
			<ul>
				<li>geboren in Gmünd, NÖ</li>
				<li>Matura BRG Gmünd</li>
				<li>Studium an der Veterinärmedizinischen Universität Wien</li>
				<li>Assistenz in verschiedenen Tierarztpraxen</li>
				<li>2003 Gründung der Tierarztpraxis Kaiserstrasse</li>
			</ul>
