
  <div class="inner-description">
    <h2>Mag. Gerold Koppensteiner</h2>

    <div class="spacer"><img src="img/horizontal-line.png" alt=""></div>

    <p>
      Mit meiner humor&shy;vollen Art, fach&shy;lichem Wis&shy;sen und jahre&shy;langer Er&shy;fah&shy;rung in der Praxis führen wir ge&shy;mein&shy;sam unsere Ordi&shy;na&shy;tion. 
      Außer&shy;dem sind wir immer er&shy;reich&shy;bar für Not&shy;fälle.
    </p>

    <div class="small-gap"></div>

    <ul>
      <li>geboren in Gmünd, NÖ</li>
      <li>Matura BRG Gmünd</li>
      <li>Studium an der Vet.Med. Uni;versität Wien</li>
      <li>Assistenz in verschiedenen Tierarztpraxen</li>
      <li>2003 Gründung Tierarztpraxis Kaiserstrasse</li>
    </ul>
  </div>
