---
layout: desktop
title: Ernaehrung
id: ernaehrung-ernaehrungsberatung
permalink: /ernaehrung-ernaehrungsberatung.html
---

  <article>
    
      {% include desktop-nav.html %}

      <figure id="center" class="image">
        <img src="/img/ernaehrung1.jpg" alt="Dosen">

        <img src="/img/ernaehrung2.jpg" alt="Ernährung">
      </figure>

      <div id="right">
        {% include ernaehrung/_ernaehrungsberatung.html %}
      </div>

  </article>

  <script type="text/javascript">
    $(document).ready(function(){
        startSlider();
    });
  </script>
